@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
html { }
body{ font-size: 16px; color:#fff; font-family:"Microsoft YaHei";}
a:hover img,img{ border:none;}
ul{ list-style:none;}
input,button,select,textarea{outline:none;}
table input,table button,table select,table textarea{ vertical-align:middle;}
textarea{resize:none}
table{ border-collapse:collapse;}
a{ text-decoration:none; color: inherit;}
a:hover{ text-decoration: underline;}

/*-------------------------结束公用样式--------------------------*/
.clearfix:after{content:".";display:block;height:0;clear:both;overflow:hidden;visibility:hidden}
.clearfix{*zoom:1}
.clear{clear:both;width:0px;height:0px;font-size:0px;overflow:hidden}
.v_mid{ vertical-align:middle; _vertical-align:baseline;}

.float_l { float: left;}
.float_r { float: right;}

.box { width: 334px; height: 523px; text-align: center; position: relative; background: url('shoujiBg.jpg') no-repeat 0 0; display:none}
.box.box1 { padding-top: 140px;}
.box.box2 { background: url('yao.gif') no-repeat 0 0;}
.box.box3 { padding-top: 150px;}
.box.box4 { padding-top: 140px;}
.btn { width: 152px; height: 35px; line-height: 30px; font-weight: bold; color: #090; text-align: center; display: inline-block; background: url('shoujiBtn.png') no-repeat 0 0;}
.btn:hover { text-decoration: none; color: #f00; background: url('shoujiBtn.png') no-repeat 0 -35px;}
.bo { font-size: 60px;}

.time { width: 180px; height: 20px; line-height: 20px; padding: 0 5px; color: #fff; text-align: right; font-size: 12px; position: absolute; top: 90px; left: 69px; font-family: Arial;}