<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN" dir="ltr">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8">
<title>单双号码统计走势图</title>
<link href="{$Think.const.CSS_URL}main.css" rel="stylesheet" type="text/css" />
<link href="{$Think.const.CSS_URL}self.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}view.css"/>
<!--[if lt IE 9]><script src="{$Think.const.JS_URL}html5.js" type="text/javascript"></script><![endif]-->
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="{$Think.const.JS_URL}superslide.js" type="text/javascript"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<include file="Index:header" />
<div class="main">
<include file="Index:chart" />
<include file="Table:form" />

</div>
<include file="Index:footer" />
		<script>
			var bgSelect = setInterval(function(){
				$(".Table_nav").addClass("li_checked").siblings().removeClass("li_checked");
				if($(".Table_nav").length != 0){
					clearInterval(bgSelect);
				}
			},200)
		</script>
</body>
</html>
