@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0;}
img{border:0;}
ul,ol{list-style-type:none;}
body{font:12px/1.5 "Microsoft YaHei","lucida Grande",Verdana;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
cite{font-style:normal;}

.biankuan{ border:1px #CCCCCC solid; background:url(../images/biankuan.jpg) repeat-x; padding:5px; vertical-align:middle;}
.formbody{padding:10px;}

.place{height:40px; background:url(../images/righttop.gif) repeat-x;}
.place span{line-height:40px; font-weight:bold;float:left; margin-left:12px;}
.placeul li{float:left; line-height:40px; padding-left:7px; padding-right:12px; background:url(../images/rlist.gif) no-repeat right;}
.placeul li:last-child{background:none;}




/*我是按钮标签*/
.tijiao_input,.chaxun_input,.fanhui_input{width:75px;height:27px;line-height:27px;border:0;color:#00557d;background:url(../images/pop_input2.png) no-repeat 0 -56px;font-weight:bold;font-size:12px;margin-right:5px;cursor:pointer; vertical-align:middle}
.x_input,.x2_input,.x3_input,.x4_input,.x6_input,.x7_input {margin-right:3px;cursor:pointer;width:40px;height:26px;border:0;background:url(../images/new_an.png) no-repeat 0 -58px;font-size:12px;}
.x2_input {background-position:0 -29px;}
.x3_input {background-position:0 0;}
.x4_input {background-position:-65px 0px;width:64px;}
.x6_input {background-position:-65px -29px;width:64px;}
.x7_input {background-position:-148px -29px;width:98px;}
.dirction{
margin: 0px auto;
width: 80px;
}
.move{
float: left;
display: block;
width: 11px;
height: 10px;
font-size: 0px;
background: url(../images/move.gif) no-repeat 0px 0px;
margin: 0px 4px;
}
.top{background-position: 0px -30px;}
.top1{background-position: -11px -30px;}
.up{background-position: 0px -10px;}
.up1{background-position: -11px -10px;}
.down{background-position: 0px 0px;}
.down1{background-position: -11px 0px;}
.bottom{background-position: 0px -20px;}
.bottom1{background-position: -11px -20px;}
/*我是日期标签*/
.date_di_on,.date_di:link,.date_di:visited {color:#184a67;background:url(../images/date_di.png) no-repeat;text-align:center;width:43px;height:21px;line-height:21px;margin-right:5px;display:inline-block;vertical-align:middle;}
.date_di:hover,.date_di:active {color:#4d87a9;background-position:0 -21px;}
.date_di_on:link,.date_di_on:visited {background-position:0 -42px;}




/*我是表情包*/
.Yoerror1{width:500px; height:200px; background:url(../images/icon/ico1.png) no-repeat; padding-left:150px; padding-top:20px; line-height:200%; font-size:16px; margin:50px auto}
.Yoerror2{width:500px; height:200px; background:url(../images/icon/ico2.png) no-repeat; padding-left:150px; padding-top:20px; line-height:200%; font-size:16px; margin:50px auto}
.Yoerror3{width:500px; height:200px; background:url(../images/icon/ico3.png) no-repeat; padding-left:150px; padding-top:20px; line-height:200%; font-size:16px; margin:50px auto}

/*菜单class*/
.Menubox {
width:100%;
height:29px;
line-height:29px;
background:url(../images/icon_qie.gif) #fff repeat-x 5px -58px ;

}
.Menubox ul{
margin:0px;
padding:0px;
width:100%;
}
.Menubox li{
float:left;
display:block;
cursor:pointer;
width:116px;
text-align:center;
color:#6e92ad;
font-weight:bold;
margin-right:2px;
padding:0px;
background:url(../images/icon_qie.gif) no-repeat;
border-bottom:none;
}

.Menubox li.hover{
background-position:0 -29px;
color:#135686;
border-bottom:none;
}

.page_table .a {display:block;width:16px;height:16px;margin:0 auto}
.open {background:url(../images/open.gif) no-repeat 0 2px; }
.close{background-position: 0 -16px;}
.stop {background:url(../images/open.gif) no-repeat 0 -35px; }
.sort{ display:inline-block; width:10px; height:10px; font-size:0px; background:url(../images/sort.png) no-repeat 0px 0px; margin:0px 4px;}
.sort1{ background-position:0px 0px;}
.sort2{ background-position:0px -10px;}

div.pager {FONT-SIZE: 0.85em; MARGIN:3px 0px; FONT-FAMILY: Tahoma,Helvetica,sans-serif; TEXT-ALIGN: center; float:right;}
div.pager A {border:#ccdbe4 1px solid; COLOR: #0061de; MARGIN-RIGHT: 3px; padding:5px 8px;}
div.pager A:hover {border:#ccdbe4 1px solid; padding:5px 8px; background:#3666d4; color:#FFF}
div.pager A:active {border:#2b55af 1px solid;FONT-WEIGHT: bold; padding:5px 8px;color:#FFF;}
.current {border:#2b55af 1px solid;FONT-WEIGHT: bold; padding:5px 8px; margin-right:3px;BACKGROUND-COLOR: #3666d4;color:#FFF;}


#Api dl,#BuyApi dl,#LabelApi dl{ margin-top:8px; margin-bottom:4px;}


/*我是表格样式表*/
.table_top {background:url(../images/table_top_di.gif) #d8eafd repeat-x;font-weight:bold;border-left:1px solid #fff;border-top:1px solid #fff;height:19px;line-height:19px;}
table.page_table{background:#c5d4e7;width:100%;text-align:center;}
table.page_table tr {background:#fff;}
table.page_table td {padding:5px 3px;}
table.page_table td.left {TEXT-ALIGN:left;}
table.page_table td.right {TEXT-ALIGN:right;}
table.page_table td.td_left{TEXT-ALIGN:right;background:#f5fcff;color:#006ab8;width:10%;zoom:expression(this.innerHTML==""?(this.innerHTML="&nbsp;"):0)}
