@charset "utf-8";
@import url(common.css);
#head{width:100%; height:147px; background:url(../images/head.jpg) repeat-x; float:left; overflow:hidden;}
#head_gg{width:100%; float:left; height:27px; padding-top:8px; padding-left:15px;}
.more{ float:right; padding-right:25px;}
#logo{width:230px; float:left; height:66px; margin-left:15px; padding-top:10px;}
#weather{width:570px; float:right; height:66px;padding-top:10px;}