<include file='index:header' />
<link href="{$Think.const.CSS_URL}common.css" rel="stylesheet" type="text/css"/>
		<div class="main-container" id="main-container">


<include file='index:left' />

			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">
					
					

							<div class="row maintop">
								<div class="col-xs-12 col-sm-8">

<form action="__CONTROLLER__/" method="get">

<input type="button" value="添加三期必出" onclick="location.href='__CONTROLLER__/sanqi_add.html'"  class="btn btn-xs btn-danger" />

</form>

								</div>

								
								
							</div>
							<div class="row">
							    <div class="col-xs-12">
										<div>
<div id="msg">
<div class="table-responsive">

<table id="table400903536" border="0" bordercolorlight="#e8c979" bordercolordark="#e8c979" cellpadding="0" width="100%" bgcolor="#ffccff" style="padding: 0px; margin: 0px; font-family: 宋体; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; font-size: 12px; cursor: default; color: buttontext;">

	<tbody>



		

		

		

		

			<td style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 9pt; PADDING-TOP: 0px" bgcolor="#00FF00" height="31" width="91%" colspan="4">
</td>		

<!--hpbegin-->
<foreach name="list" item="vo">
		<tr>

			<td style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 9pt; PADDING-TOP: 0px" bgcolor="#ffffff" height="73" width="12%" align="center">

			<b><font size="3">{$vo.qihao1}期<br>{$vo.qihao2}期<br>

			{$vo.qihao3}期</font></b></td>
			

			<td style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 9pt; PADDING-TOP: 0px" bgcolor="#ffffff" height="73" width="35%" align="center">

			<font size="6" color="#FF0000"><b>{$vo.sanqi}</b></font></td><td style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 9pt; PADDING-TOP: 0px" bgcolor="#ffffff" height="73" width="19%" align="center">		

			<table id="table400903569" border="0" width="85%"><tbody><tr>
				<td style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 9pt; PADDING-TOP: 0px" height="20">

				<span style="font-weight: 700; text-decoration: blink">

				<font face="黑体" size="4" color="#0000FF">{$vo.qihao1}</font></span><span style="WORD-WRAP: break-word; FONT-SIZE: 9pt; FONT-WEIGHT: 700; TEXT-DECORATION: none"><b style="WORD-WRAP: break-word"><span style="WORD-WRAP: break-word; FONT-WEIGHT: 700; TEXT-DECORATION: none"><font style="WORD-WRAP: break-word" color="#ff0000" size="2"><b><span><font style="padding:0px; MARGIN: 0px; word-wrap:break-word; font-weight:700; text-decoration:blink" color="#0000ff" face="黑体" size="4">期開:{$vo.jg1}{$vo.haoma1}</font></span></b></font></span></b></span></td></tr><tr><td style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 9pt; PADDING-TOP: 0px">

					<b style="WORD-WRAP: break-word">

					<span style="WORD-WRAP: break-word; FONT-WEIGHT: 700; TEXT-DECORATION: none">

					<b><span>

					<font style="WORD-WRAP: break-word" color="#ff0000" size="2">

					<span style="WORD-WRAP: break-word; FONT-SIZE: 9pt; FONT-WEIGHT: 700; TEXT-DECORATION: none">

					<font style="padding:0px; MARGIN: 0px; word-wrap:break-word; font-weight:700; text-decoration:blink" size="4" color="#0000ff" face="黑体">

					{$vo.qihao2}期開:{$vo.jg2}{$vo.haoma2}</font></span></font></span></b></span></b></td></tr><tr><td style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 9pt; PADDING-TOP: 0px">

					<b style="WORD-WRAP: break-word">

					<span style="WORD-WRAP: break-word; FONT-WEIGHT: 700; TEXT-DECORATION: none">

					<b><span>

					<font style="WORD-WRAP: break-word" color="#ff0000" size="2">

					<span style="WORD-WRAP: break-word; FONT-SIZE: 9pt; FONT-WEIGHT: 700; TEXT-DECORATION: none">

					<font style="padding:0px; MARGIN: 0px; word-wrap:break-word; font-weight:700; text-decoration:blink" size="4" color="#0000ff" face="黑体">

					{$vo.qihao3}期開:{$vo.jg3}{$vo.haoma3}</font></span></font></span></b></span></b></td></tr></tbody></table></td>
					
			<td style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 9pt; PADDING-TOP: 0px" bgcolor="#ffffff" height="73" width="12%" align="center">
			<a href="__CONTROLLER__/sanqi_edit/id/{$vo.id}">修改</a>
<a href="#" onClick="Get_Ation_Save('sanqi_infodelete','{$vo.id}')">删除</a>
			</td>
								

		</tr>
	<tbody>

		<tr>

			<td style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 9pt; PADDING-TOP: 0px" bgcolor="#00FF00" height="3" width="91%" colspan="4">
</td>

		</tr>

</foreach>
		<!--hpend-->

	


<tr>
<td colspan="8" align="right">{$page}</td>
</tr>
		</tbody>
		</table>






</div>
</div>
							    		</div>
									</div>
								</div>

<include file='index:header_nav' />

					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
</div>	
		
<include file='index:footer' />		
</div>
<script src="{$Think.const.JS_URL}jquery.min.js"></script>
<script>
function CheckAll(value,obj)  {
var form=document.getElementsByTagName("form")
for(var i=0;i<form.length;i++){
for (var j=0;j<form[i].elements.length;j++){
if(form[i].elements[j].type=="checkbox"){ 
var e = form[i].elements[j]; 
if (value=="selectAll"){e.checked=obj.checked}     
else{e.checked=!e.checked;} 
}
}
}
}
</script>
<script>
//==========设置几秒跳转
var i = 2; 
var intervalid; 
function TiaoSecond(Yoyo){ 
if (i ==0) { 
window.location.href =Yoyo; 
clearInterval(intervalid); 
} 
document.getElementById("mes").innerHTML = i; 
i--; 
} 	
//==========设置几秒结束


//=======================获取数据
function Get_add_Save(){
var site_name    =$("#site_name").attr("value");
var site_title   =$("#site_title").attr("value");
var site_url     =$("#site_url").attr("value");
var site_describe=$("#site_describe").attr("value");
var site_keywords=$("#site_keywords").attr("value");
var Token =$("#Token").attr("value");
jQuery.ajax({
url: "__CONTROLLER__/RightSave.html",
dataType:"json",
type:"POST",
data:{Action:"Config_Add",site_name:site_name,site_title:site_title,site_url:site_url,site_describe:site_describe,site_keywords:site_keywords},
beforeSend: function(XHR){
$('#msg').html('<center><br><br><img alt="正在加载中..." src="{$Think.const.IMG_URL}Loading/load1.gif" ></center>');
},
success:function(data) {
$("#msg").html(data.msg)
intervalid =setInterval("TiaoSecond('__CONTROLLER__/index.html')",1000);//==========执行几秒跳转
}
});
}



//=======================获取删除数据
function Get_Del_Save(){
var $check_boxes = $('input[type=checkbox][checked=checked][id!=check_all_box]');  
if($check_boxes.length<=0){ alert('您未勾选任何数据，请先勾选！');return;}  
if(confirm('您确定要删除此数据？')){  
var dropIds = new Array();  
$check_boxes.each(function(){  
dropIds.push($(this).val());  
});
jQuery.ajax({
url: "__CONTROLLER__/sanqi_infodelete.html",
dataType:"json",
type:"POST",
data:{Action:"Alldel",id:dropIds},
beforeSend: function(){
$('#msg').html('<center><br><br><img alt="正在加载中..." src="{$Think.const.IMG_URL}Loading/load1.gif" ></center>');	
},
success:function(data){
$("#msg").html(data.msg)
intervalid =setInterval("TiaoSecond('__CONTROLLER__/index.html')",1000);//==========执行几秒跳转
}
});
}  
}


//=======================获取其他操作
function Get_Ation_Save(oo1,oo2){
if(confirm('您确定要执行此操作？')){   
jQuery.ajax({
url: "__CONTROLLER__/sanqi_infodelete.html",
dataType:"json",
type:"POST",
data:{Action:"del",id:oo2},
beforeSend: function(){
$('#msg').html('<center><br><br><img alt="正在加载中..." src="{$Think.const.IMG_URL}Loading/load1.gif" ></center>');	
},
success:function(data){
$("#msg").html(data.msg)
intervalid =setInterval("TiaoSecond('__CONTROLLER__/sanqi.html')",1000);//==========执行几秒跳转
}
});
}  
}


</script>
	</body>
</html>	