<include file='index:header' />
<STYLE type=text/css>

TD {
	FONT-STYLE: normal; FONT-SIZE: 9pt
}

TABLE {
	COLOR: #000000; FONT-SIZE: 9pt
}
UNKNOWN {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	COLOR: #000000; FONT-SIZE: 9pt
}
TD {
	COLOR: #000000; FONT-SIZE: 9pt
}
.title_283 {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #0460bb; COLOR: #ffffff; FONT-SIZE: 13px
}
.main_760 {
	BORDER-BOTTOM: #d2d3d9 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d2d3d9 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 8px; PADDING-RIGHT: 2px; FONT-SIZE: 14px; BORDER-TOP: #d2d3d9 1px solid; BORDER-RIGHT: #d2d3d9 1px solid; PADDING-TOP: 2px
}
.t5 {
	BORDER-BOTTOM: #c7e1ef 1px solid; BORDER-LEFT: #c7e1ef 1px solid; BORDER-TOP: #c7e1ef 1px solid; BORDER-RIGHT: #c7e1ef 1px solid
}
.t5 {
	MARGIN: 0px auto 10px; HEIGHT: auto; OVERFLOW: hidden
}
.r_one {
	BACKGROUND: #f5fcff
}
.tr1 TH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top; FONT-WEIGHT: normal; PADDING-TOP: 5px
}
.tpc_content {
	PADDING-BOTTOM: 2em; LINE-HEIGHT: 2em; MARGIN: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; FONT-FAMILY: Arial; PADDING-TOP: 0px
}
.qs36{
	font-size: 30px;
	color: #000000;
	font-weight: bold;
}
.q36{
	font-size: 30px;
	color: #6699CC;
	font-weight: bold;
}
.z14r {color: #FF0000;font: bold 14px "华文中宋";}
.xj1{font: bold 16px "华文中宋";
	color: #0000FF;
}
.xj2{font: bold 24px "华文中宋";
	color: #0000FF;
}
.xj3{
	font: bold 18px "华文中宋";
	color: #0000FF;
}
.xj4t{
	font: bold 30px "华文中宋";
	color: #FF0000;
}
.xj4b{
	font: bold 30px "华文中宋";
	color: #000000;
}
.z12z1 {font-size: 12px;
	color:#6633CC;
}
.tdz{text-align: left;}
.z14{
	font-size: 16px;
}
.gg116 {color: #FF0000;font: bold 16px "华文中宋";}
.xj2h{
	font: bold 24px "华文中宋";
	color: #FF0000;
}
.xj3h{
	font: bold 18px "华文中宋";
	color: #FF0000;
}
.xj1h{
	font: bold 16px "华文中宋";
	color: #FF0000;
}
.bs18{
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
}
.hs18{
	font-size: 20px;
	font-weight: bold;
	color: #FFFF33;
}
.xj3f{
	font: bold 18px "华文中宋";
	color: #FF00FF;
}
.z161 {	font: bold 16px "华文中宋";
	color: #FF00FF;
}
.bgff00{
	background: #FFFFCC;
}
</STYLE>
<link href="{$Think.const.CSS_URL}common.css" rel="stylesheet" type="text/css"/>
		<div class="main-container" id="main-container">


<include file='index:left' />

			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">
					
					

							<div class="row maintop">
								<div class="col-xs-12 col-sm-8">

<form action="__CONTROLLER__/" method="get">

<input type="button" value="添加特码诗" onclick="location.href='__CONTROLLER__/tms_add.html'"  class="btn btn-xs btn-danger" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<input type="button" value="清空特码诗的数据" onclick="location.href='__CONTROLLER__/tms_delete.html'"  class="btn btn-xs btn-danger" />

</form>

								</div>

								
								
							</div>
							<div class="row">
							    <div class="col-xs-12">
										<div>
<div id="msg">
<div class="table-responsive">
<table width="100%" class="table table-striped table-bordered table-hover">
<thead>
<tr>
<th width="10%">彩票期号</th>
<th width="70%">特码诗</th>
<th width="10%">特码波色</th>
<th width="5%">生肖</th>
<th width="5%" style="border-right:#CCC solid 1px;">操作</th>
</tr>
</thead>
<tbody>								
<tr>
			<php>
					$ad=M('tms_ad')->where(array('id'=>1))->find();

			</php>
<foreach name="list" item="vo">
		<tr style="margin: 0px; padding: 0px">
			<td width="108" rowspan="2" id="td3477" style="font-size: 12px; font-style: normal; color: rgb(0, 0, 0); font-family: 宋体; border: 1px solid rgb(240, 145, 0); margin: 0px; padding: 3px">
			<table width="102" border="0" cellspacing="0" cellpadding="0" align="center" id="table18457" height="73" style="font-size: 12px; color: buttontext; cursor: default; margin: 0px; padding: 0px">
				<tbody style="margin: 0px; padding: 0px">
					<tr style="margin: 0px; padding: 0px">
						<td width="102" height="37" style="font-size: 16px; font-style: normal; color: rgb(0, 0, 0); font-family: arial, sans-serif, 宋体; margin: 0px; padding: 0px">
						<div align="center" style="margin: 0px; padding: 0px">
							<font size="6" style="margin: 0px; padding: 0px">
							<span style="margin: 0px; padding: 0px">
							<font style="margin: 0px; padding: 0px">{$vo.qihao}<font color="#6699CC" style="margin: 0px; padding: 0px">期</font></span></font>
						</div>
						</td>
					</tr>
				</tbody>	
			</table>
			</td>
			<td width="609" id="td3478" height="47" style="font-size: 12px; font-style: normal; color: rgb(0, 0, 0); font-family: 宋体; border: 1px solid rgb(240, 145, 0); margin: 0px; padding: 3px">
			<p align="left"><b><font size="4">【一起发特码诗】-≤<font color="#0000FF">{$vo.temashi}</font>≥-</font></b></td>
			<td width="127" rowspan="2" id="td3479" style="font-size: 12px; font-style: normal; color: rgb(0, 0, 0); font-family: 宋体; border: 1px solid rgb(240, 145, 0); margin: 0px; padding: 3px">
			<table width="127" border="0" cellspacing="0" cellpadding="0" id="table18458" style="font-size: 12px; color: buttontext; cursor: default; margin: 0px; padding: 0px">
				<tbody style="margin: 0px; padding: 0px">
					<tr style="margin: 0px; padding: 0px">
						<td style="font-size: 16px; font-style: normal; color: rgb(0, 0, 0); font-family: arial, sans-serif, 宋体; margin: 0px; padding: 0px">
						<div align="center" class="style326" style="font-size: x-small; margin: 0px; padding: 0px">
							特 碼－－波色</div>
						</td>
					</tr>
				</tbody>	
			</table>
			<table width="90" border="0" cellspacing="0" cellpadding="0" id="table18459" style="font-size: 12px; color: buttontext; cursor: default; margin: 0px; padding: 0px">
				<tbody style="margin: 0px; padding: 0px">
					<tr style="margin: 0px; padding: 0px">
						<td style="font-size: 16px; font-style: normal; color: rgb(0, 0, 0); font-family: arial, sans-serif, 宋体; margin: 0px; padding: 0px">
						<table width="63" border="0" cellspacing="0" cellpadding="0" id="table18460" style="font-size: 12px; color: buttontext; cursor: default; margin: 0px; padding: 0px">
							<tbody style="margin: 0px; padding: 0px">
								<tr style="margin: 0px; padding: 0px">
									<td style="font-size: 16px; font-style: normal; color: rgb(0, 0, 0); font-family: arial, sans-serif, 宋体; margin: 0px; padding: 0px">
									<div align="center" style="margin: 0px; padding: 0px">
										<font size="6" color="#FF0000"><b>{$vo.tema}</b></font>
									</div>
									</td>
								</tr>
							</tbody>	
						</table>
						</td>
						<td style="font-size: 16px; font-style: normal; color: rgb(0, 0, 0); font-family: arial, sans-serif, 宋体; margin: 0px; padding: 0px">
						<table width="65" border="0" cellspacing="0" cellpadding="0" id="table18461" style="font-size: 12px; color: buttontext; cursor: default; margin: 0px; padding: 0px">
							<tbody style="margin: 0px; padding: 0px">
								<tr style="margin: 0px; padding: 0px">
									<td style="font-size: 16px; font-style: normal; color: rgb(0, 0, 0); font-family: arial, sans-serif, 宋体; margin: 0px; padding: 0px">
									<div align="center" style="margin: 0px; padding: 0px">
										<font size="6"><b>{$vo.bose}</b></font>
									</div>
									</td>
								</tr>
							</tbody>	
						</table>
						</td>
					</tr>
				</tbody>	
			</table>
			</td>
			<td width="40" rowspan="2" id="td3480" style="font-size: 12px; font-style: normal; color: rgb(0, 0, 0); font-family: 宋体; border: 1px solid rgb(240, 145, 0); margin: 0px; padding: 3px">
			<table width="40" border="0" cellspacing="0" cellpadding="0" align="center" id="table18462" style="font-size: 12px; color: buttontext; cursor: default; margin: 0px; padding: 0px">
				<tbody style="margin: 0px; padding: 0px">
					<tr style="margin: 0px; padding: 0px">
						<td style="font-size: 16px; font-style: normal; color: rgb(0, 0, 0); font-family: arial, sans-serif, 宋体; margin: 0px; padding: 0px">
						<div align="center" class="style326" style="font-size: x-small; margin: 0px; padding: 0px">
							生 肖</div>
						</td>
					</tr>
				</tbody>	
			</table>
			<table width="40" border="0" align="center" cellpadding="0" cellspacing="0" id="table18463" height="62" style="font-size: 12px; color: buttontext; cursor: default; margin: 0px; padding: 0px">
				<tbody style="margin: 0px; padding: 0px">
					<tr style="margin: 0px; padding: 0px">
						<td style="font-size: 16px; font-style: normal; color: rgb(0, 0, 0); font-family: arial, sans-serif, 宋体; margin: 0px; padding: 0px" width="40">
						<table width="40" border="0" cellspacing="0" cellpadding="0" id="table18464" style="font-size: 12px; color: buttontext; cursor: default; margin: 0px; padding: 0px">
							<tbody style="margin: 0px; padding: 0px">
								<tr style="margin: 0px; padding: 0px">
									<td style="font-size: 16px; font-style: normal; color: rgb(0, 0, 0); font-family: arial, sans-serif, 宋体; margin: 0px; padding: 0px">
									<div align="center" style="margin: 0px; padding: 0px">
										<strong><font size="6">{$vo.shengxiao}</font></strong>
										</div>
									</td>
								</tr>
							</tbody>	
						</table>
						</td>
					</tr>
				</tbody>	
			</table>
			</td>
			<td width="10" rowspan="2" id="td3477" style="font-size: 12px; font-style: normal; color: rgb(0, 0, 0); font-family: 宋体; border: 1px solid rgb(240, 145, 0); margin: 0px; padding: 3px">
			<table width="40" border="0" cellspacing="0" cellpadding="0" align="center" id="table18457" height="73" style="font-size: 12px; color: buttontext; cursor: default; margin: 0px; padding: 0px">
				<tbody style="margin: 0px; padding: 0px">
					<tr style="margin: 0px; padding: 0px">
						<td width="40" height="37" style="font-size: 12px; font-style: normal; color: rgb(0, 0, 0); font-family: arial, sans-serif, 宋体; margin: 0px; padding: 0px">
						<div align="center" style="margin: 0px; padding: 0px">
							<font size="3" style="margin: 0px; padding: 0px">
							<span style="margin: 0px; padding: 0px">
							<font style="margin: 0px; padding: 0px"><a href="__CONTROLLER__/tms_edit/id/{$vo.id}">修改</a><br><br> <a href="#" onClick="Get_Ation_Save('tms_infodelete','{$vo.id}')">删除</a></font></span></font>
						</div>
						</td>
					</tr>
				</tbody>	
			</table>
			</td>			
		</tr>
		<tr style="margin: 0px; padding: 0px">
			<td width="636" id="td3481" style="font-size: 12px; font-style: normal; color: rgb(0, 0, 0); font-family: 宋体; border: 1px solid rgb(240, 145, 0); margin: 0px; padding: 3px" height="38">
			<p align="left" style="margin: 0px; padding: 0px">
			<font face="微软雅黑">
			<b><font size="4" color="#0000FF">特码诗</font></b></font>：<b><font color="#FF0000" style="font-size: 9pt">解：</font></b><font color="#FF0000"><b>{$vo.jieshi}</b>
			</font>
			</td>
		</tr>
</foreach>
<tr>
<td colspan="8" align="right">{$page}</td>
</tr>
</tr>
</tbody>
</table>
</div>
</div>
							    		</div>
									</div>
								</div>

<include file='index:header_nav' />

					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
</div>			
<include file='index:footer' />		
</div>
<script src="{$Think.const.JS_URL}jquery.min.js"></script>
<script>
function CheckAll(value,obj)  {
var form=document.getElementsByTagName("form")
for(var i=0;i<form.length;i++){
for (var j=0;j<form[i].elements.length;j++){
if(form[i].elements[j].type=="checkbox"){ 
var e = form[i].elements[j]; 
if (value=="selectAll"){e.checked=obj.checked}     
else{e.checked=!e.checked;} 
}
}
}
}
</script>
<script>
//==========设置几秒跳转
var i = 2; 
var intervalid; 
function TiaoSecond(Yoyo){ 
if (i ==0) { 
window.location.href =Yoyo; 
clearInterval(intervalid); 
} 
document.getElementById("mes").innerHTML = i; 
i--; 
} 	
//==========设置几秒结束


//=======================获取数据
function Get_add_Save(){
var site_name    =$("#site_name").attr("value");
var site_title   =$("#site_title").attr("value");
var site_url     =$("#site_url").attr("value");
var site_describe=$("#site_describe").attr("value");
var site_keywords=$("#site_keywords").attr("value");
var Token =$("#Token").attr("value");
jQuery.ajax({
url: "__CONTROLLER__/RightSave.html",
dataType:"json",
type:"POST",
data:{Action:"Config_Add",site_name:site_name,site_title:site_title,site_url:site_url,site_describe:site_describe,site_keywords:site_keywords},
beforeSend: function(XHR){
$('#msg').html('<center><br><br><img alt="正在加载中..." src="{$Think.const.IMG_URL}Loading/load1.gif" ></center>');
},
success:function(data) {
$("#msg").html(data.msg)
intervalid =setInterval("TiaoSecond('__CONTROLLER__/index.html')",1000);//==========执行几秒跳转
}
});
}



//=======================获取删除数据
function Get_Del_Save(){
var $check_boxes = $('input[type=checkbox][checked=checked][id!=check_all_box]');  
if($check_boxes.length<=0){ alert('您未勾选任何数据，请先勾选！');return;}  
if(confirm('您确定要删除此数据？')){  
var dropIds = new Array();  
$check_boxes.each(function(){  
dropIds.push($(this).val());  
});
jQuery.ajax({
url: "__CONTROLLER__/tms_infodelete.html",
dataType:"json",
type:"POST",
data:{Action:"Alldel",id:dropIds},
beforeSend: function(){
$('#msg').html('<center><br><br><img alt="正在加载中..." src="{$Think.const.IMG_URL}Loading/load1.gif" ></center>');	
},
success:function(data){
$("#msg").html(data.msg)
intervalid =setInterval("TiaoSecond('__CONTROLLER__/tms.html')",1000);//==========执行几秒跳转
}
});
}  
}


//=======================获取其他操作
function Get_Ation_Save(oo1,oo2){
if(confirm('您确定要执行此操作？')){   
jQuery.ajax({
url: "__CONTROLLER__/tms_infodelete.html",
dataType:"json",
type:"POST",
data:{Action:"del",id:oo2},
beforeSend: function(){
$('#msg').html('<center><br><br><img alt="正在加载中..." src="{$Think.const.IMG_URL}Loading/load1.gif" ></center>');	
},
success:function(data){
$("#msg").html(data.msg)
intervalid =setInterval("TiaoSecond('__CONTROLLER__/tms.html')",1000);//==========执行几秒跳转
}
});
}  
}


</script>
	</body>
</html>	