<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
</head>
<link href="{$Think.const.CSS_URL}common.css" rel="stylesheet" type="text/css"/>
<body>
<div class="place"><span>位置：</span><ul class="placeul"><li><a href="__CONTROLLER__/right.html">首页</a></li><li><a href="#">系统设置</a></li></ul></div>
<div class="formbody">
<div id="msg">
<input id="Token"    type="hidden" value="{genToken()}">
<table class="page_table" cellpadding="0" cellspacing="1">
<tr>
<td height="32" class="td_left">网站名称：</td>
<td class="left"><input id="site_name" type="text" style="width:150px;" value="{$Info.0.site_name}" class="biankuan" /></td>
</tr>
<tr>
<td width="10%" height="32" class="td_left">网站标题：</td>
<td width="90%" class="left"><input id="site_title" type="text" style="width:350px;" value="{$Info.0.site_title}" class="biankuan" /></td>
</tr>	
<tr>
<td width="10%" height="32" class="td_left">网站网址：</td>
<td width="90%" class="left"><input id="site_url" type="text" style="width:350px;" value="{$Info.0.site_url}" class="biankuan" /></td>
</tr>	
<tr>
<td width="10%" class="td_left">网站描述：</td>
<td width="90%" class="left"><textarea id="site_describe" cols="50" rows="7" class="biankuan" >{$Info.0.site_describe}</textarea></td>
</tr>
<tr>
<td width="10%" class="td_left">网站关键词：</td>
<td width="90%" class="left"><textarea id="site_keywords" cols="50" rows="7" class="biankuan">{$Info.0.site_keywords}</textarea></td>
</tr>
<tr><td></td><td align="left"><input type="button" value="确认修改"  class="tijiao_input" onClick="Get_add_Save()"/></td></tr>
</table>
</div>
</div>
</body>
</html>
<script src="{$Think.const.JS_URL}jquery.min.js"></script>
<script>
//==========设置几秒跳转
var i = 2; 
var intervalid; 
function TiaoSecond(Yoyo){ 
if (i ==0) { 
window.location.href =Yoyo; 
clearInterval(intervalid); 
} 
document.getElementById("mes").innerHTML = i; 
i--; 
} 	
//==========设置几秒结束


//=======================获取数据
function Get_add_Save(){
var site_name    =$("#site_name").attr("value");
var site_title   =$("#site_title").attr("value");
var site_url     =$("#site_url").attr("value");
var site_describe=$("#site_describe").attr("value");
var site_keywords=$("#site_keywords").attr("value");
var Token =$("#Token").attr("value");
jQuery.ajax({
url: "__CONTROLLER__/ConfigSave.html",
dataType:"json",
type:"POST",
data:{Action:"Config_Add",site_name:site_name,site_title:site_title,site_url:site_url,site_describe:site_describe,site_keywords:site_keywords},
beforeSend: function(XHR){
$('#msg').html('<center><br><br><img alt="正在加载中..." src="{$Think.const.IMG_URL}Loading/load1.gif" ></center>');	
},
success:function(data) {
$("#msg").html(data.msg)
intervalid =setInterval("TiaoSecond('__CONTROLLER__/index.html')",1000);//==========执行几秒跳转
}
});

}
</script>