<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN" dir="ltr">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8">
<title>六合彩挑码助手</title>
<link href="{$Think.const.CSS_URL}rq.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]><script src="{$Think.const.JS_URL}html5.js" type="text/javascript"></script><![endif]-->
<script src="{$Think.const.JS_URL}jquery.min.js"></script> 
<script src="{$Think.const.JS_URL}superslide.js" type="text/javascript"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<include file="Index:header" />
<div class="content clearfix">
 <div class="main">
  <article class="infos padding-b1">
    <div class="inner">
      <header id="topbartit" class="title">
        <dl class="clearfix">
          <dt>
            <h2>六合彩挑码助手 - 开奖结果猜猜看 </h2>
          </dt>
        </dl>
      </header>
	<table border="0" width="800" bgcolor="#C0C0C0">
<SCRIPT language=javascript src="/index/Public/static/js/countonline.js"></SCRIPT>
 <FORM style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px" name=form2>
<INPUT title=01, type=hidden value=01 name=n_01>
<INPUT title=02, type=hidden value=02 name=n_02> 
<INPUT title=03, type=hidden value=03 name=n_03> 
<INPUT title=04, type=hidden value=04 name=n_04> 
<INPUT title=05, type=hidden value=05 name=n_05> 
<INPUT title=06, type=hidden value=06 name=n_06> 
<INPUT title=07, type=hidden value=07 name=n_07> 
<INPUT title=08, type=hidden value=08 name=n_08> 
<INPUT title=09, type=hidden value=09 name=n_09> 
<INPUT title=10, type=hidden value=10 name=n_10> 
<INPUT title=11, type=hidden value=11 name=n_11> 
<INPUT title=12, type=hidden value=12 name=n_12> 
<INPUT title=13, type=hidden value=13 name=n_13> 
<INPUT title=14, type=hidden value=14 name=n_14> 
<INPUT title=15, type=hidden value=15 name=n_15> 
<INPUT title=16, type=hidden value=16 name=n_16> 
<INPUT title=17, type=hidden value=17 name=n_17> 
<INPUT title=18, type=hidden value=18 name=n_18> 
<INPUT title=19, type=hidden value=19 name=n_19> 
<INPUT title=20, type=hidden value=20 name=n_20> 
<INPUT title=21, type=hidden value=21 name=n_21> 
<INPUT title=22, type=hidden value=22 name=n_22> 
<INPUT title=23, type=hidden value=23 name=n_23> 
<INPUT title=24, type=hidden value=24 name=n_24> 
<INPUT title=25, type=hidden value=25 name=n_25> 
<INPUT title=26, type=hidden value=26 name=n_26> 
<INPUT title=27, type=hidden value=27 name=n_27> 
<INPUT title=28, type=hidden value=28 name=n_28> 
<INPUT title=29, type=hidden value=29 name=n_29> 
<INPUT title=30, type=hidden value=30 name=n_30> 
<INPUT title=31, type=hidden value=31 name=n_31> 
<INPUT title=32, type=hidden value=32 name=n_32> 
<INPUT title=33, type=hidden value=33 name=n_33> 
<INPUT title=34, type=hidden value=34 name=n_34> 
<INPUT title=35, type=hidden value=35 name=n_35> 
<INPUT title=36, type=hidden value=36 name=n_36> 
<INPUT title=37, type=hidden value=37 name=n_37> 
<INPUT title=38, type=hidden value=38 name=n_38> 
<INPUT title=39, type=hidden value=39 name=n_39> 
<INPUT title=40, type=hidden value=40 name=n_40> 
<INPUT title=41, type=hidden value=41 name=n_41> 
<INPUT title=42, type=hidden value=42 name=n_42> 
<INPUT title=43, type=hidden value=43 name=n_43> 
<INPUT title=44, type=hidden value=44 name=n_44> 
<INPUT title=45, type=hidden value=45 name=n_45> 
<INPUT title=46, type=hidden value=46 name=n_46> 
<INPUT title=47, type=hidden value=47 name=n_47> 
<INPUT title=48, type=hidden value=48 name=n_48> 
<INPUT title=49, type=hidden value=49 name=n_49> 
<INPUT title=1, type=hidden value=1 name=n_1> 
<INPUT title=2, type=hidden value=2 name=n_2> 
<INPUT title=3, type=hidden value=3 name=n_3> 
<INPUT title=4, type=hidden value=4 name=n_4>
<INPUT title=5, type=hidden value=5 name=n_5>
<INPUT title=6, type=hidden value=6 name=n_6> 
<INPUT title=7, type=hidden value=7 name=n_7> 
<INPUT title=8, type=hidden value=8 name=n_8> 
<INPUT title=9, type=hidden value=9 name=n_9></FORM>
<FORM style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px" name=form>
<INPUT title=01,02,07,08,12,13,18,19,23,24,29,30,34,35,40,45,46, type=hidden value=红 name=n_红>
<INPUT title=05,06,11,16,17,21,22,27,28,32,33,38,39,43,44,49, type=hidden value=绿 name=n_绿> 
<INPUT title=03,04,09,10,14,15,20,25,26,31,36,37,41,42,47,48, type=hidden value=蓝 name=n_蓝> 
<INPUT title=03,04,09,10,14,15,20,25,26,31,36,37,41,42,47,48, type=hidden value=兰 name=n_兰> 
<INPUT title=03,09,15,25,31,37,41,47, type=hidden value=兰单 name=n_兰单> 
<INPUT title=04,10,14,20,26,36,42,48, type=hidden value=兰双 name=n_兰双> 
	<tr>
		<td bgcolor="#FFFFFF" width="575">
		<TEXTAREA style="border:1px solid #ccc; width:520px; height:200px; " name=inputtxt wrap=PHYSICAL></TEXTAREA></td>
		<td bgcolor="#FFFFFF" width="350" rowspan="4">
<INPUT title=01,03,05,07,09,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49, onclick="addText('单,');" type=button value=单 name=n_单> 
<INPUT title=25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49, onclick="addText('大,');" type=button value=大 name=n_大>
<INPUT title=01,03,05,07,09,10,12,14,16,18,21,23,25,27,29,30,32,34,36,38,41,43,45,47,49, onclick="addText('合单,');" type=button value=合单 name=n_合单>
<INPUT title=07,08,09,16,17,18,19,25,26,27,28,29,34,35,36,37,38,39,43,44,45,46,47,48,49, onclick="addText('合大,');" type=button value=合大 name=n_合大>
<INPUT title=05,06,07,08,09,15,16,17,18,19,25,26,27,28,29,35,36,37,38,39,45,46,47,48,49, onclick="addText('尾大,');" type=button value=尾大 name=n_尾大>
<INPUT title=25,27,29,31,33,35,37,39,41,43,45,47,49, onclick="addText('大单,');" type=button value=大单 name=n_大单>
<INPUT title=26,28,30,32,34,36,38,40,42,44,46,48, onclick="addText('大双,');" type=button value=大双 name=n_大双>
<INPUT title=01,02,07,09,10,11,13,14,19,21,22,23,25,26,31,33,34,35,37,38,43,45,46,47,49, onclick="addText('家畜,');" type=button value=家畜 name=n_家畜><BR>
<INPUT title=02,04,06,08,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48, onclick="addText('双,');" type=button value=双 name=n_双> 
<INPUT title=01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24, onclick="addText('小,');" type=button value=小 name=n_小>  
<INPUT title=02,04,06,08,11,13,15,17,19,20,22,24,26,28,31,33,35,37,39,40,42,44,46,48, onclick="addText('合双,');" type=button value=合双 name=n_合双>
<INPUT title=01,02,03,04,05,06,10,11,12,13,14,15,20,21,22,23,24,30,31,32,33,40,41,42, onclick="addText('合小,');" type=button value=合小 name=n_合小>
<INPUT title=01,02,03,04,10,11,12,13,14,20,21,22,23,24,30,31,32,33,34,40,41,42,43,44, onclick="addText('尾小,');" type=button value=尾小 name=n_尾小>
<INPUT title=01,03,05,07,09,11,13,15,17,19,21,23, onclick="addText('小单,');" type=button value=小单 name=n_小单>
<INPUT title=02,04,06,08,10,12,14,16,18,20,22,24, onclick="addText('小双,');" type=button value=小双 name=n_小双>
<INPUT title=03,04,05,06,08,12,15,16,17,18,20,24,27,28,29,30,32,36,39,40,41,42,44,48, onclick="addText('野兽,');" type=button value=野兽 name=n_野兽><BR>
<input title=08,20,32,44, onclick="addText('虎,');" type=button value=虎 name=n_虎 class="pnc vm">
<input title=07,19,31,43, onclick="addText('兔,');" type=button value=兔 name=n_兔  class="pnc vm">
<input title=06,18,30,42, onclick="addText('龙,');" type=button value=龙 name=n_龙  class="pnc vm">
<input title=05,17,29,41, onclick="addText('蛇,');" type=button value=蛇 name=n_蛇  class="pnc vm">
<input title=04,16,28,40, onclick="addText('马,');" type=button value=马 name=n_马  class="pnc vm">
<input title=03,15,27,39, onclick="addText('羊,');" type=button value=羊 name=n_羊  class="pnc vm">
<input title=02,14,26,38, onclick="addText('猴,');" type=button value=猴 name=n_猴  class="pnc vm">
<input title=01,13,25,37,49, onclick="addText('鸡,');" type=button value=鸡 name=n_鸡  class="pnc vm">
<input title=12,24,36,48, onclick="addText('狗,');" type=button value=狗 name=n_狗  class="pnc vm">
<input title=11,23,35,47, onclick="addText('猪,');" type=button value=猪 name=n_猪  class="pnc vm">
<input title=10,22,34,46, onclick="addText('鼠,');" type=button value=鼠 name=n_鼠  class="pnc vm">
<input title=09,21,33,45, onclick="addText('牛,');" type=button value=牛 name=n_牛 class="pnc vm">
<BR>
<INPUT title=01,02,07,08,12,13,18,19,23,24,29,30,34,35,40,45,46, style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px" onclick="addText('红波,');" type=button value=红波 name=n_红波> 
<INPUT title=05,06,11,16,17,21,22,27,28,32,33,38,39,43,44,49, style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px" onclick="addText('绿波,');" type=button value=绿波 name=n_绿波> 
<INPUT title=03,04,09,10,14,15,20,25,26,31,36,37,41,42,47,48, style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px" onclick="addText('蓝波,');" type=button value=蓝波 name=n_蓝波>
==><INPUT title=01,02,15,16,23,24,31,32,45,46, onclick="addText('金,');" type=button value=金 name=n_金> 
<INPUT title=05,06,13,14,27,28,35,36,43,44, onclick="addText('木,');" type=button value=木 name=n_木> 
<INPUT title=03,04,11,12,19,20,33,34,41,42,49, onclick="addText('水,');" type=button value=水 name=n_水> 
<INPUT title=07,08,21,22,29,30,37,38, onclick="addText('火,');" type=button value=火 name=n_火> 
<INPUT title=09,10,17,18,25,26,39,40,47,48, onclick="addText('土,');" type=button value=土 name=n_土><BR>
<INPUT title=01,07,13,19,23,29,35,45, onclick="addText('红单,');" type=button value=红单 name=n_红单> 
<INPUT title=05,11,17,21,27,33,39,43,49, onclick="addText('绿单,');" type=button value=绿单 name=n_绿单> 
<INPUT title=03,09,15,25,31,37,41,47, onclick="addText('蓝单,');" type=button value=蓝单 name=n_蓝单>
<INPUT title=02,08,12,18,24,30,34,40,46, onclick="addText('红双,');" type=button value=红双 name=n_红双> 
<INPUT title=06,16,22,28,32,38,44, onclick="addText('绿双,');" type=button value=绿双 name=n_绿双> 
<INPUT title=04,10,14,20,26,36,42,48, onclick="addText('蓝双,');" type=button value=蓝双 name=n_蓝双><BR>
<INPUT title=10,20,30,40, onclick="addText('0尾,');" type=button value=0尾 name=n_0尾> 
<INPUT title=01,11,21,31,41, onclick="addText('1尾,');" type=button value=1尾 name=n_1尾> 
<INPUT title=02,12,22,32,42, onclick="addText('2尾,');" type=button value=2尾 name=n_2尾> 
<INPUT title=03,13,23,33,43, onclick="addText('3尾,');" type=button value=3尾 name=n_3尾> 
<INPUT title=04,14,24,34,44, onclick="addText('4尾,');" type=button value=4尾 name=n_4尾>
==><INPUT title=31,32,33,34,35,36,37,38,39,40,41,42, onclick="addText('东段,');" type=button value=东段 name=n_东段><BR>
<INPUT title=05,15,25,35,45, onclick="addText('5尾,');" type=button value=5尾 name=n_5尾>
<INPUT title=06,16,26,36,46, onclick="addText('6尾,');" type=button value=6尾 name=n_6尾> 
<INPUT title=07,17,27,37,47, onclick="addText('7尾,');" type=button value=7尾 name=n_7尾> 
<INPUT title=08,18,28,38,48, onclick="addText('8尾,');" type=button value=8尾 name=n_8尾> 
<INPUT title=09,19,29,39,49, onclick="addText('9尾,');" type=button value=9尾 name=n_9尾>
==><INPUT title=19,20,21,22,23,24,25,26,27,28,29,30, onclick="addText('南段,');" type=button value=南段 name=n_南段><BR>
<INPUT title=01,02,03,04,05,06,07,08,09, onclick="addText('0头,');" type=button value=0头 name=n_0头> 
<INPUT title=10,11,12,13,14,15,16,17,18,19, onclick="addText('1头,');" type=button value=1头 name=n_1头> 
<INPUT title=20,21,22,23,24,25,26,27,28,29, onclick="addText('2头,');" type=button value=2头 name=n_2头> 
<INPUT title=30,31,32,33,34,35,36,37,38,39, onclick="addText('3头,');" type=button value=3头 name=n_3头> 
<INPUT title=40,41,42,43,44,45,46,47,48,49, onclick="addText('4头,');" type=button value=4头 name=n_4头>
==><INPUT title=07,08,09,10,11,12,13,14,15,16,17,18, onclick="addText('西段,');" type=button value=西段 name=n_西段><BR>
<INPUT title=01,02,03,04,05,06,07,08,09, onclick="addText('1门,');" type=button value=1门 name=n_1门> 
<INPUT title=10,11,12,13,14,15,16,17,18, onclick="addText('2门,');" type=button value=2门 name=n_2门> 
<INPUT title=19,20,21,22,23,24,25,26,27, onclick="addText('3门,');" type=button value=3门 name=n_3门> 
<INPUT title=28,29,30,31,32,33,34,35,36,37, onclick="addText('4门,');" type=button value=4门 name=n_4门> 
<INPUT title=38,39,40,41,42,43,44,45,46,47,48,49, onclick="addText('5门,');" type=button value=5门 name=n_5门>
==><INPUT title=01,02,03,04,05,06,43,44,45,46,47,48,49, onclick="addText('北段,');" type=button value=北段 name=n_北段><BR>
<INPUT title=01,02,03,04,05,06,07, onclick="addText('1段,');" type=button value=1段 name=n_1段> 
<INPUT title=08,09,10,11,12,13,14, onclick="addText('2段,');" type=button value=2段 name=n_2段> 
<INPUT title=15,16,17,18,19,20,21, onclick="addText('3段,');" type=button value=3段 name=n_3段> 
<INPUT title=22,23,24,25,26,27,28, onclick="addText('4段,');" type=button value=4段 name=n_4段> 
<INPUT title=29,30,31,32,33,34,35, onclick="addText('5段,');" type=button value=5段 name=n_5段> 
<INPUT title=36,37,38,39,40,41,42, onclick="addText('6段,');" type=button value=6段 name=n_6段> 
<INPUT title=43,44,45,46,47,48,49, onclick="addText('7段,');" type=button value=7段 name=n_7段><BR>
<INPUT title=01,10, onclick="addText('1合,');" type=button value=1合 name=n_1合> 
<INPUT title=02,11,20, onclick="addText('2合,');" type=button value=2合 name=n_2合> 
<INPUT title=03,12,21,30, onclick="addText('3合,');" type=button value=3合 name=n_3合> 
<INPUT title=04,13,22,31,40, onclick="addText('4合,');" type=button value=4合 name=n_4合> 
<INPUT title=05,14,23,32,41, onclick="addText('5合,');" type=button value=5合 name=n_5合> 
<INPUT title=06,15,24,33,42, onclick="addText('6合,');" type=button value=6合 name=n_6合> 
<INPUT title=07,16,25,34,43, onclick="addText('7合,');" type=button value=7合 name=n_7合> <br>
<INPUT title=08,17,26,35,44, onclick="addText('8合,');" type=button value=8合 name=n_8合>
<INPUT title=09,18,27,36,45, onclick="addText('9合,');" type=button value=9合 name=n_9合> 
<INPUT title=19,28,37,46, onclick="addText('10合,');" type=button value=10合 name=n_10合> 
<INPUT title=29,38,47, onclick="addText('11合,');" type=button value=11合 name=n_11合> 
<INPUT title=39,48, onclick="addText('12合,');" type=button value=12合 name=n_12合> 
<INPUT title=49, onclick="addText('13合,');" type=button value=13合 name=n_13合><BR>
<INPUT title=19,28,37,46, onclick="addText('0合尾,');" type=button value=0合尾 name=n_0合尾> 
<INPUT title=01,10,29,38,47, onclick="addText('1合尾,');" type=button value=1合尾 name=n_1合尾> 
<INPUT title=02,11,20,39,48, onclick="addText('2合尾,');" type=button value=2合尾 name=n_2合尾> 
<INPUT title=03,12,21,30,49, onclick="addText('3合尾,');" type=button value=3合尾 name=n_3合尾> 
<INPUT title=04,13,22,31,40, onclick="addText('4合尾,');" type=button value=4合尾 name=n_4合尾><br>
<INPUT title=05,14,23,32,41, onclick="addText('5合尾,');" type=button value=5合尾 name=n_5合尾>
<INPUT title=06,15,24,33,42, onclick="addText('6合尾,');" type=button value=6合尾 name=n_6合尾> 
<INPUT title=07,16,25,34,43, onclick="addText('7合尾,');" type=button value=7合尾 name=n_7合尾> 
<INPUT title=08,17,26,35,44, onclick="addText('8合尾,');" type=button value=8合尾 name=n_8合尾> 
<INPUT title=09,18,27,36,45, onclick="addText('9合尾,');" type=button value=9合尾 name=n_9合尾><BR>
<INPUT title=01,03,05,07,09, onclick="addText('0头单,');" type=button value=0头单 name=n_0头单>
<INPUT title=11,13,15,17,19, onclick="addText('1头单,');" type=button value=1头单 name=n_1头单> 
<INPUT title=21,23,25,27,29, onclick="addText('2头单,');" type=button value=2头单 name=n_2头单> 
<INPUT title=31,33,35,37,39, onclick="addText('3头单,');" type=button value=3头单 name=n_3头单> 
<INPUT title=41,43,45,47,49, onclick="addText('4头单,');" type=button value=4头单 name=n_4头单><br>
<INPUT title=02,04,06,08, onclick="addText('0头双,');" type=button value=0头双 name=n_0头双>
<INPUT title=10,12,14,16,18, onclick="addText('1头双,');" type=button value=1头双 name=n_1头双> 
<INPUT title=20,22,24,26,28, onclick="addText('2头双,');" type=button value=2头双 name=n_2头双> 
<INPUT title=30,32,34,36,38, onclick="addText('3头双,');" type=button value=3头双 name=n_3头双> 
<INPUT title=40,42,44,46,48, onclick="addText('4头双,');" type=button value=4头双 name=n_4头双><BR>
<INPUT title=03,06,09,12,15,18,21,24,27,30,33,36,39,42,45,48, onclick="addText('3余零,');" type=button value=3余0 name=n_3余零> 
<INPUT title=01,04,07,10,13,16,19,22,25,28,31,34,37,40,43,46,49, onclick="addText('3余一,');" type=button value=3余1 name=n_3余一> 
<INPUT title=02,05,08,11,14,17,20,23,26,29,32,35,38,41,44,47, onclick="addText('3余二,');" type=button value=3余2 name=n_3余二><BR>
<INPUT title=04,08,12,16,20,24,28,32,36,40,44,48, onclick="addText('4余零,');" type=button value=4余0 name=n_4余零> 
<INPUT title=01,05,09,13,17,21,25,29,33,37,41,45,49, onclick="addText('4余一,');" type=button value=4余1 name=n_4余一> 
<INPUT title=02,06,10,14,18,22,26,30,34,38,42,46, onclick="addText('4余二,');" type=button value=4余2 name=n_4余二> 
<INPUT title=03,07,11,15,19,23,27,31,35,39,43,47, onclick="addText('4余三,');" type=button value=4余3 name=n_4余三><BR>
<INPUT title=05,10,15,20,25,30,35,40,45, onclick="addText('5余零,');" type=button value=5余0 name=n_5余零> 
<INPUT title=01,06,11,16,21,26,31,36,41,46, onclick="addText('5余一,');" type=button value=5余1 name=n_5余一> 
<INPUT title=02,07,12,17,22,27,32,37,42,47, onclick="addText('5余二,');" type=button value=5余2 name=n_5余二> 
<INPUT title=03,08,13,18,23,28,33,38,43,48, onclick="addText('5余三,');" type=button value=5余3 name=n_5余三> 
<INPUT title=04,09,14,19,24,29,34,39,44,49, onclick="addText('5余四,');" type=button value=5余4 name=n_5余四><BR>
<INPUT title=06,12,18,24,30,36,42,48, onclick="addText('6余零,');" type=button value=6余0 name=n_6余零> 
<INPUT title=01,07,13,19,25,31,37,43,49, onclick="addText('6余一,');" type=button value=6余1 name=n_6余一> 
<INPUT title=02,08,14,20,26,32,38,44, onclick="addText('6余二,');" type=button value=6余2 name=n_6余二> 
<INPUT title=03,09,15,21,27,33,39,45, onclick="addText('6余三,');" type=button value=6余3 name=n_6余三> 
<INPUT title=04,10,16,22,28,34,40,46, onclick="addText('6余四,');" type=button value=6余4 name=n_6余四> 
<INPUT title=05,11,17,23,29,35,41,47, onclick="addText('6余五,');" type=button value=6余5 name=n_6余五><BR>
<INPUT title=07,14,21,28,35,42,49, onclick="addText('7余零,');" type=button value=7余0 name=n_7余零> 
<INPUT title=01,08,15,22,29,36,43, onclick="addText('7余一,');" type=button value=7余1 name=n_7余一> 
<INPUT title=02,09,16,23,30,37,44, onclick="addText('7余二,');" type=button value=7余2 name=n_7余二> 
<INPUT title=03,10,17,24,31,38,45, onclick="addText('7余三,');" type=button value=7余3 name=n_7余三> 
<INPUT title=04,11,18,25,32,39,46, onclick="addText('7余四,');" type=button value=7余4 name=n_7余四> 
<INPUT title=05,12,19,26,33,40,47, onclick="addText('7余五,');" type=button value=7余5 name=n_7余五> 
<INPUT title=06,13,20,27,34,41,48, onclick="addText('7余六,');" type=button value=7余6 name=n_7余六><BR> 
<INPUT title=01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,25,26,27,28, onclick="addText('楼上码,');" type=button value=楼上码 name=n_楼上码> 
<INPUT title=01,02,03,04,05,06,07,08,17,18,19,20,21,22,23,24,33,34,35,36,37,38,39,40, onclick="addText('前落码,');" type=button value=前落码 name=n_前落码>
<INPUT title=01,02,03,04,08,09,10,11,15,16,17,18,22,23,24,29,30,31,36,37,38,43,44,45, onclick="addText('左边码,');" type=button value=左边码 name=n_左边码>
<INPUT title=09,10,11,12,13,16,17,18,19,20,23,24,25,26,27,30,31,32,33,34,37,38,39,40,41, onclick="addText('内围码,');" type=button value=内围码 name=n_内围码> 
<INPUT title=13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37, onclick="addText('中数,');" type=button value=中数 name=n_中数> <br>
<INPUT title=22,23,24,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49, onclick="addText('楼下码,');" type=button value=楼下码 name=n_楼下码>  
<INPUT title=09,10,11,12,13,14,15,16,25,26,27,28,29,30,31,32,41,42,43,44,45,46,47,48,49, onclick="addText('后落码,');" type=button value=后落码 name=n_后落码>
<INPUT title=05,06,07,12,13,14,19,20,21,25,26,27,28,32,33,34,35,39,40,41,42,46,47,48,49, onclick="addText('右边码,');" type=button value=右边码 name=n_右边码>
<INPUT title=01,02,03,04,05,06,07,08,14,15,21,22,28,29,35,36,42,43,44,45,46,47,48,49, onclick="addText('外围码,');" type=button value=外围码 name=n_外围码>
<INPUT title=01,02,03,04,05,06,07,08,09,10,11,12,38,39,40,41,42,43,44,45,46,47,48,49, onclick="addText('边数,');" type=button value=边数 name=n_边数><br>
输入号码段数:<INPUT id=id_hao_from style="WIDTH: 30px" maxLength=2 name=hao_from>至<INPUT id=id_hao_to style="WIDTH: 30px" maxLength=2 name=hao_to><INPUT style="WIDTH: 50px" onclick=addteduan(); type=button value=插入> (限:01-49)</td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" width="575"><INPUT style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 62px; PADDING-TOP: 0px; HEIGHT: 88px" onclick=countma(); type=button value=统计号码><INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 62px; PADDING-TOP: 0px; HEIGHT: 88px" onclick=resetinput(); type=button value=清空><INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('鼠,牛,虎,兔,龙,蛇,马,羊,猴,鸡,狗,猪');" type=button value=肖统计>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('0尾,1尾,2尾,3尾,4尾,5尾,6尾,7尾,8尾,9尾');" type=button value=尾统计>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('0头,1头,2头,3头,4头');" type=button value=头统计>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('金,木,水,火,土');" type=button value=行统计> 
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('1合,2合,3合,4合,5合,6合,7合,8合,9合,10合,11合,12合,13合');" type=button value=合统计>  
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('1段,2段,3段,4段,5段,6段,7段');" type=button value=段统计>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 60px; PADDING-TOP: 0px" onclick="countstyle('0合尾,1合尾,2合尾,3合尾,4合尾,5合尾,6合尾,7合尾,8合尾,9合尾');" type=button value=合尾统计>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('单,双');" type=button value=单双>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('大,小');" type=button value=大小>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('合大,合小');" type=button value=合大小> 
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('合单,合双');" type=button value=合单双> 
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('尾大,尾小');" type=button value=尾大小>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('小单,小双,大单,大双');" type=button value=半单双>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 60px; PADDING-TOP: 0px" onclick="countstyle('家畜,野兽');" type=button value=家畜野兽>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('红波,绿波,蓝波');" type=button value=波色> 
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('红单,红双,绿单,绿双,蓝单,蓝双');" type=button value=半波>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('前后码,前后码');" type=button value=前后码>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('内围码,外围码');" type=button value=内外码>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('楼上码,楼下码');" type=button value=上下码>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('左边码,右边码');" type=button value=左右码>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 60px; PADDING-TOP: 0px" onclick="countstyle('东段,南段,西段,北段');" type=button value=东南西北>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('3余零,3余一,3余二');" type=button value=3余>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('4余零,4余一,4余二,4余三');" type=button value=4余>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('5余零,5余一,5余二,5余三,5余四');" type=button value=5余>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('6余零,6余一,6余二,6余三,6余四,6余五');" type=button value=6余>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('7余零,7余一,7余二,7余三,7余四,7余五,7余六');" type=button value=7余>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50px; PADDING-TOP: 0px" onclick="countstyle('1门,2门,3门,4门,5门');" type=button value=门统计>
<INPUT style="PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 60px; PADDING-TOP: 0px" onclick="countstyle('0头单,1头单,2头单,3头单,4头单,0头双,1头双,2头双,3头双,4头双');" type=button value=半头单双>
</td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" width="575">
		<TEXTAREA style="border:1px solid #ccc; width:520px; height:200px; " name=resultstxt wrap=off></TEXTAREA></td>
	</tr>
	
	</table>	
		 
</div>
	
	</article>
 </div>
</div>
</div>







</div>
<include file="Index:footer" />
</body>
</html>

<script type="text/javascript"> 
$(document).ready(function(){
	var curUrl=window.location.href;
	if(curUrl.indexOf('/kj/') != -1) $('#nLi3').addClass('on');
	else if(curUrl.indexOf('/rq/') != -1) $('#nLi2').addClass('on');
	else if(curUrl.indexOf('/history/') != -1) $('#nLi3').addClass('on');
 
	jQuery("#nav").slide({type:"menu", titCell:".nLi", targetCell:".sub", effect:"slideDown", delayTime:300, triggerTime:0, defaultIndex:4, returnDefault:true});
});
</script>