@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0;  font-family: Microsoft Yahei; font-size:14px;}
a {color:#000; text-decoration:none; }
ul li { list-style-type:none;}
.clear { clear:both;}
img { border:none;}
a { color:#002244}
a:hover { text-decoration:underline; color:#ffab00}
.part { width:960px; height:auto; margin:0 auto; padding:0px 30px 10px; overflow:hidden}
.part1 { width:960px; height:105px; margin:0 auto; padding:0px 30px 10px 30px;}
.fl { float:left}
.fr { float:right}
.w1 { width:300px; height:auto; overflow:hidden}
.w2 { width:640px; height:auto; overflow:hidden}
.w3 { width:240px; height:auto; overflow:hidden}
.w4 { width:700px; height:auto; overflow:hidden}
.mar1 { margin-top:10px;}
.mar2 { margin:0 20px;}
.bor { border:1px solid #e9e9e9}

.logo {float:left;  width:210px; height:80px; margin-top:15px;}
.head { float:right; width:600px; height:auto; margin:5px 0; overflow:hidden}
.head .logo img { width:100%}

.head form { float:left; background:url(../img/search.jpg) no-repeat; width:231px; height:32px; padding:1px 0; margin-top:6px; overflow:hidden}
.head form input { float:left; line-height:32px;}
.head form input.btn { width:40px; border:none; background:none}
.head form input.btn:hover { cursor:pointer}
.head form input.txt { width:175px; border:none; background:none;outline:none}
.head .phone { float:right; background:url(../img/phone.jpg) left center no-repeat; text-indent:3em; width:190px; line-height:40px; font-size:18px; font-weight:bold; color:#888}

.nav { float:right; background:url(../img/nav_left.jpg) left center no-repeat #fa0; height:45px; width:590px; padding-left:30px; }
.nav a { float:left; line-height:45px; width:80px; text-align:center; color:#333px;}
.nav a:hover { background:#fb2}

/*通用样式*/
.sub_tit { display:block; width:100%; height:30px; margin-bottom:5px;  font-size:14px; color:#333;}
.sub_tit small { font-size:12px; color:#BC0003; line-height:30px; margin-left:10px;}
.style2 { background:#e9e9e9; text-indent:10px; margin-bottom:10px; line-height:40px; height:40px}

.img { padding:10px; border:1px solid #e9e9e9}
.img img { height:88px; overflow:hidden}
.list  { width:100%; height:auto; margin-top:10px; overflow:hidden}
.list a { line-height:30px; height:30px; display:block; width:100%; color:#666; background:url(../img/icon.gif) left center no-repeat; text-indent:1em; overflow:hidden}

.list1 a { display:block; width:80%; margin:0 auto; background:url(../img/obbg.jpg); line-height:30px; color:#333; border-radius:3px; margin-bottom:10px; text-align:center}

.list2  { display:block; line-height:50px; color:#333; width:95%; margin:0 auto; border-bottom:1px solid #e9e9e9}

.list3 { float:left; margin:20px 0; width:175px; height:auto; text-align:center; overflow:hidden}
.list3 img { border:1px solid #e9e9e9}
.list3 span { display:block; width:100%; line-height:30px; height:30px; text-align:center; overflow:hidden}


.intro { width:410px; height:auto; overflow:hidden}
.intro p { line-height:30px; font-size:12px; color:#666; height:90px; text-indent:2em; overflow:hidden}
.intro a { float:left; margin-left:2em; width:100px; height:22px; line-height:22px; border-bottom:2px solid #d62416; background:#676976; text-align:center; color:#fff; font-size:12px;}

.object { width:626px; padding-top:12px; padding-left:12px; height:auto; border:1px solid #e9e9e9; overflow:hidden}
.object a { float:left; width:196px; margin-right:12px; margin-bottom:12px; background:url(../img/obbg.jpg); color:#333; line-height:30px; text-align:center; border-radius:5px;}




.article { width:94%; padding:0 3%;}
.title { display:block; width:100%; height:auto; border-bottom:1px solid #e9e9e9; margin-bottom:20px; overflow:hidden}
.title h1 { font-size:18px; text-align:left; display:block; width:100%; line-height:50px;}
.title p { display:block; width:100%; height:auto; overflow:hidden padding-bottom:10px;}
.title p small { float:left; margin-right:20px; line-height:30px; font-size:14px; color:#999}
.a_con p { line-height:30px;}
.a_con img { margin:0 auto}

.line { background:url(../img/line.jpg) no-repeat; width:100%; height:1px; margin-bottom:20px;}

.flink strong, .flink small { float:left; margin-right:20px;}
.foot { background:url(../img/footbg.jpg) center center no-repeat #0d5293; width:100%; height:138px}
.foot p { height:40px;}
.foot p a { float:left; color:#fff; margin-right:10px; line-height:40px;}
.foot p small { color:#fff; float:left; margin-right:30px; line-height:40px;}



@media screen and (max-width: 767px){
.part { width:94%; height:auto; margin:0 auto; padding:0px 3% 10px; overflow:hidden}
.part1 { width:94%; height:105px; margin:0 auto; padding:0px 3% 10px 3%;}	
.fl, .fr { float:none} 
.w1 { width:100%; height:auto; overflow:hidden}
.w2 {  width:100%; height:auto; overflow:hidden}
.w3 { width:100%; height:auto; overflow:hidden}
.w4 {  width:100%; height:auto; overflow:hidden}
.mar1 { margin-top:10px;}
.mar2 { margin:0 ;}
.bor { border:1px solid #e9e9e9}


#container { display:none}
.logo {float:left;  width:30%; max-width:210px; height:auto; margin-top:15px;}
.head { float:left; width:45%; height:auto; margin:10px 0; margin-left:5%; overflow:hidden}
.logo img { width:100%}

.head form { float:left; background:#f1f1f1; width:80%; height:32px; padding:1px 0; border:1px solid #e9e9e9; margin-top:6px; overflow:hidden}
.head form input { float:left; line-height:32px;}
.head form input.btn { width:30%;  }
.head form input.btn:hover { cursor:pointer}
.head form input.txt { width:70%; border:none; background:#fff; text-indent:.5em; outline:none}
.head .phone { display:none}

.nav { float:right; background:url(../img/nav_left.jpg) left center no-repeat #fa0; height:45px; width:590px; padding-left:30px; }
.nav a { float:left; line-height:45px; width:80px; text-align:center; color:#333px;}
.nav a:hover { background:#fb2}

/*通用样式*/
.sub_tit { display:block; width:100%; height:50px; line-height:50px; margin-bottom:5px;  font-size:14px; color:#333;}
.sub_tit small { font-size:12px; color:#BC0003; line-height:30px; margin-left:10px;}
.style2 { background:#e9e9e9; text-indent:10px; margin-bottom:10px; line-height:40px; height:40px}

.img { padding:10px; border:1px solid #e9e9e9}
.img img { height: auto; width:100%; overflow:hidden}
.list  { width:100%; height:auto; margin-top:10px; overflow:hidden}
.list a { line-height:30px; height:30px; display:block; width:100%; color:#666; background:url(../img/icon.gif) left center no-repeat; text-indent:1em; overflow:hidden}

.list1 a { display:block; width:80%; margin:0 auto; background:url(../img/obbg.jpg); line-height:30px; color:#333; border-radius:3px; margin-bottom:10px; text-align:center}

.list2  { display:block; line-height:50px; color:#333; width:95%; margin:0 auto; border-bottom:1px solid #e9e9e9}

.list3 { float:left; margin:20px 0; width:50%; height:auto; text-align:center; overflow:hidden}
.list3 img { border:1px solid #e9e9e9}
.list3 span { display:block; width:100%; line-height:30px; height:30px; text-align:center; overflow:hidden}


.intro { width:410px; height:auto; overflow:hidden}
.intro p { line-height:30px; font-size:12px; color:#666; height:90px; text-indent:2em; overflow:hidden}
.intro a { float:none; display:block; width:90%; margin:0 auto; height:28px; line-height:28px; border-bottom:2px solid #d62416; background:#676976; text-align:center; color:#fff; font-size:12px;}

.object { width:99%; padding-top:12px; padding-left:0px; height:auto; border:1px solid #e9e9e9; overflow:hidden}
.object a { float:none; display:block; margin:0 3% 12px 3%; width:94%; background:url(../img/obbg.jpg); color:#333; line-height:30px; text-align:center; border-radius:5px;}




.article { width:94%; padding:0 3%;}
.title { display:block; width:100%; height:auto; border-bottom:1px solid #e9e9e9; margin-bottom:20px; overflow:hidden}
.title h1 { font-size:18px; text-align:left; display:block; width:100%; line-height:50px;}
.title p { display:block; width:100%; height:auto; overflow:hidden padding-bottom:10px;}
.title p small { float:left; margin-right:20px; line-height:30px; font-size:14px; color:#999}
.a_con p { line-height:30px;}
.a_con img { margin:0 auto}

.line { background:url(../img/line.jpg) no-repeat; width:100%; height:1px; margin-bottom:20px;}

.flink strong, .flink small { float:left; margin-right:20px;}
.foot { background:#0d5293; width:100%; height:auto}
.foot p { height:40px;}
.foot p a { float:left; color:#fff; margin-right:10px; line-height:40px;}
.foot p small { color:#fff; float:left; margin-right:30px; line-height:40px;}	
	
	}