<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>属性对照表 - 香港六合彩图库大全_<?=Cz_cig('site_name')?></title>
<meta name="keywords" content="一起发开奖现场,手机报码,手机报码网,手机开奖网址" />
<meta name="description" content="一起发开奖现场第一时间更新开奖结果,不用电脑上网也可以用手机查看最新开奖结果" />
<meta name="viewport" content="user-scalable=no, width=device-width" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<body>
<link href="{$Think.const.CSS_URL}m.css" rel="stylesheet" type="text/css" />
<include file="Wap:header" />

<div class="main_content" style="min-height: 399px;">
	<!-- uiView: control -->
	<div ui-view="control" class="contents ng-scope">

		<!--中间内容-->
		<div class="go6h_chartStatistics_otherPage_attrReference">
			<div class="cs_op_ar_boSe" style="display: block;">

<table width="100%" border="0">
<tbody>
<tr class="header">
<td colspan="2"><span class="fright"></span><span class="fleft">2017年生肖对照表</span></td>
</tr>
</tbody>
</table>			
			<div class="cs_op_ar_shengXiao" style="display: block;">
				<ul>
					<li class="odd" data-reactid=".8.2.0.$SX0">
					<div class="cs_op_ar_boSe2" data-reactid=".8.2.0.$SX0.0">
						<p class="title" data-reactid=".8.2.0.$SX0.0.0">
							鼠
						</p>
						<div class="go6h_EFRight" data-reactid=".8.2.0.$SX11.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX11.0.1.$SX11_0">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX11.0.1.$SX11_0.0">10</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX11.0.1.$SX11_1">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX11.0.1.$SX11_1.0">22</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX11.0.1.$SX11_2">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX11.0.1.$SX11_2.0">34</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX11.0.1.$SX11_3">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX11.0.1.$SX11_3.0">46</span>
							</div>
						</div>

					</div>
					</li>
					<li class="" data-reactid=".8.2.0.$SX1">
					<div class="cs_op_ar_boSe2" data-reactid=".8.2.0.$SX1.0">
						<p class="title" data-reactid=".8.2.0.$SX1.0.0">
							牛
						</p>
						
						<div class="go6h_EFRight" data-reactid=".8.2.0.$SX0.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX0.0.1.$SX0_0">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX0.0.1.$SX0_0.0">09</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX0.0.1.$SX0_1">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX0.0.1.$SX0_1.0">21</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX0.0.1.$SX0_2">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX0.0.1.$SX0_2.0">33</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX0.0.1.$SX0_3">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX0.0.1.$SX0_3.0">45</span>
							</div>
						</div>						

					</div>
					</li>
					<li class="odd" data-reactid=".8.2.0.$SX2">
					<div class="cs_op_ar_boSe2" data-reactid=".8.2.0.$SX2.0">
						<p class="title" data-reactid=".8.2.0.$SX2.0.0">
							虎
						</p>
						<div class="go6h_EFRight" data-reactid=".8.2.0.$SX1.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX1.0.1.$SX1_0">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX1.0.1.$SX1_0.0">08</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX1.0.1.$SX1_1">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX1.0.1.$SX1_1.0">20</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX1.0.1.$SX1_2">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX1.0.1.$SX1_2.0">32</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX1.0.1.$SX1_3">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX1.0.1.$SX1_3.0">44</span>
							</div>
						</div>						

					</div>
					</li>
					<li class="" data-reactid=".8.2.0.$SX3">
					<div class="cs_op_ar_boSe2" data-reactid=".8.2.0.$SX3.0">
						<p class="title" data-reactid=".8.2.0.$SX3.0.0">
							兔
						</p>
						<div class="go6h_EFRight" data-reactid=".8.2.0.$SX2.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX2.0.1.$SX2_0">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX2.0.1.$SX2_0.0">07</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX2.0.1.$SX2_1">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX2.0.1.$SX2_1.0">19</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX2.0.1.$SX2_2">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX2.0.1.$SX2_2.0">31</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX2.0.1.$SX2_3">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX2.0.1.$SX2_3.0">43</span>
							</div>
						</div>						

					</div>
					</li>
					<li class="odd" data-reactid=".8.2.0.$SX4">
					<div class="cs_op_ar_boSe2" data-reactid=".8.2.0.$SX4.0">
						<p class="title" data-reactid=".8.2.0.$SX4.0.0">
							龙
						</p>
						<div class="go6h_EFRight" data-reactid=".8.2.0.$SX3.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX3.0.1.$SX3_0">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX3.0.1.$SX3_0.0">06</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX3.0.1.$SX3_1">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX3.0.1.$SX3_1.0">18</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX3.0.1.$SX3_2">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX3.0.1.$SX3_2.0">30</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX3.0.1.$SX3_3">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX3.0.1.$SX3_3.0">42</span>
							</div>
						</div>						

					</div>
					</li>
					<li class="" data-reactid=".8.2.0.$SX5">
					<div class="cs_op_ar_boSe2" data-reactid=".8.2.0.$SX5.0">
						<p class="title" data-reactid=".8.2.0.$SX5.0.0">
							蛇
						</p>
						<div class="go6h_EFRight" data-reactid=".8.2.0.$SX4.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX4.0.1.$SX4_0">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX4.0.1.$SX4_0.0">05</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX4.0.1.$SX4_1">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX4.0.1.$SX4_1.0">17</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX4.0.1.$SX4_2">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX4.0.1.$SX4_2.0">29</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX4.0.1.$SX4_3">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX4.0.1.$SX4_3.0">41</span>
							</div>
						</div>						

					</div>
					</li>
					<li class="odd" data-reactid=".8.2.0.$SX6">
					<div class="cs_op_ar_boSe2" data-reactid=".8.2.0.$SX6.0">
						<p class="title" data-reactid=".8.2.0.$SX6.0.0">
							马
						</p>
						<div class="go6h_EFRight" data-reactid=".8.2.0.$SX5.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX5.0.1.$SX5_0">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX5.0.1.$SX5_0.0">04</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX5.0.1.$SX5_1">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX5.0.1.$SX5_1.0">16</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX5.0.1.$SX5_2">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX5.0.1.$SX5_2.0">28</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX5.0.1.$SX5_3">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX5.0.1.$SX5_3.0">40</span>
							</div>
						</div>						

					</div>
					</li>
					<li class="" data-reactid=".8.2.0.$SX7">
					<div class="cs_op_ar_boSe2" data-reactid=".8.2.0.$SX7.0">
						<p class="title" data-reactid=".8.2.0.$SX7.0.0">
							羊
						</p>
						<div class="go6h_EFRight" data-reactid=".8.2.0.$SX6.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX6.0.1.$SX6_0">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX6.0.1.$SX6_0.0">03</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX6.0.1.$SX6_1">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX6.0.1.$SX6_1.0">15</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX6.0.1.$SX6_2">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX6.0.1.$SX6_2.0">27</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX6.0.1.$SX6_3">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX6.0.1.$SX6_3.0">39</span>
							</div>
						</div>						

					</div>
					</li>
					<li class="odd" data-reactid=".8.2.0.$SX8">
					<div class="cs_op_ar_boSe2" data-reactid=".8.2.0.$SX8.0">
						<p class="title" data-reactid=".8.2.0.$SX8.0.0">
							猴
						</p>
						<div class="go6h_EFRight" data-reactid=".8.2.0.$SX7.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX7.0.1.$SX7_0">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX7.0.1.$SX7_0.0">02</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX7.0.1.$SX7_1">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX7.0.1.$SX7_1.0">14</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX7.0.1.$SX7_2">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX7.0.1.$SX7_2.0">26</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX7.0.1.$SX7_3">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX7.0.1.$SX7_3.0">38</span>
							</div>
						</div>						

					</div>
					</li>
					<li class="" data-reactid=".8.2.0.$SX9">
					<div class="cs_op_ar_boSe2" data-reactid=".8.2.0.$SX9.0">
						<p class="title" data-reactid=".8.2.0.$SX9.0.0">
							鸡
						</p>
						<div class="go6h_EFRight" data-reactid=".8.2.0.$SX8.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX8.0.1.$SX8_0">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX8.0.1.$SX8_0.0">01</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX8.0.1.$SX8_1">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX8.0.1.$SX8_1.0">13</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX8.0.1.$SX8_2">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX8.0.1.$SX8_2.0">25</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX8.0.1.$SX8_3">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX8.0.1.$SX8_3.0">37</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX8.0.1.$SX8_4">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX8.0.1.$SX8_4.0">49</span>
							</div>
						</div>						

					</div>
					</li>
					<li class="odd" data-reactid=".8.2.0.$SX10">
					<div class="cs_op_ar_boSe2" data-reactid=".8.2.0.$SX10.0">
						<p class="title" data-reactid=".8.2.0.$SX10.0.0">
							狗
						</p>
						<div class="go6h_EFRight" data-reactid=".8.2.0.$SX9.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX9.0.1.$SX9_0">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX9.0.1.$SX9_0.0">12</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX9.0.1.$SX9_1">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX9.0.1.$SX9_1.0">24</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX9.0.1.$SX9_2">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX9.0.1.$SX9_2.0">36</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX9.0.1.$SX9_3">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX9.0.1.$SX9_3.0">48</span>
							</div>
						</div>						

					</div>
					</li>
					<li class="" data-reactid=".8.2.0.$SX11">
					<div class="cs_op_ar_boSe2" data-reactid=".8.2.0.$SX11.0">
						<p class="title" data-reactid=".8.2.0.$SX11.0.0">
							猪
						</p>
						<div class="go6h_EFRight" data-reactid=".8.2.0.$SX10.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX10.0.1.$SX10_0">
								<span class="go6h_greenBall" data-reactid=".8.2.0.$SX10.0.1.$SX10_0.0">11</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX10.0.1.$SX10_1">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX10.0.1.$SX10_1.0">23</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX10.0.1.$SX10_2">
								<span class="go6h_redBall" data-reactid=".8.2.0.$SX10.0.1.$SX10_2.0">35</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.2.0.$SX10.0.1.$SX10_3">
								<span class="go6h_blueBall" data-reactid=".8.2.0.$SX10.0.1.$SX10_3.0">47</span>
							</div>
						</div>
					</div>
					</li>
				</ul>
			</div>



<table width="100%" border="0">
<tbody>
<tr class="header">
<td colspan="2"><span class="fright"></span><span class="fleft">色波对照表</span></td>
</tr>
</tbody>
</table>			
			
				<div>
					<div>
						<p class="title">
							红波
						</p>
						<span></span>
						<div class="go6h_EFRight">
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">01</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">02</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">07</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">08</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">12</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">13</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">18</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">19</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">23</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">24</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">29</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">30</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">34</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">35</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">40</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">45</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_redBall">46</span>
							</div>
						</div>
						<span></span>
					</div>
					<div>
						<p class="title">
							蓝波
						</p>
						<span></span>
						<div class="go6h_EFRight">
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">03</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">04</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">09</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">10</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">14</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">15</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">20</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">25</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">26</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">31</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">36</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">37</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">41</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">42</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">47</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_blueBall">48</span>
							</div>
						</div>
						<span></span>
					</div>
					<div>
						<p class="title">
							绿波
						</p>
						<span></span>
						<div class="go6h_EFRight">
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">05</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">06</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">11</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">16</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">17</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">21</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">22</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">27</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">28</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">32</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">33</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">38</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">39</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">43</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">44</span>
							</div>
							<div class="go6h_ballShaped1">
								<span class="go6h_greenBall">49</span>
							</div>
						</div>
						<span></span>
					</div>
				</div>
			</div>

<table width="100%" border="0">
<tbody>
<tr class="header">
<td colspan="2"><span class="fright"></span><span class="fleft">五行对照表</span></td>
</tr>
</tbody>
</table>			
			<div class="cs_op_ar_wuXing" style="display: block;" data-reactid=".8.3">
				<ul data-reactid=".8.3.0">
					<li class="odd" data-reactid=".8.3.0.$WX0">
					<div class="cs_op_ar_boSe2" data-reactid=".8.3.0.$WX0.0">
						<p class="title" data-reactid=".8.3.0.$WX0.0.0">
							金
						</p>
						<div class="go6h_EFRight" data-reactid=".8.3.0.$WX0.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX0.0.1.$WX0_0">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX0.0.1.$WX0_0.0">03</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX0.0.1.$WX0_1">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX0.0.1.$WX0_1.0">04</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX0.0.1.$WX0_2">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX0.0.1.$WX0_2.0">17</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX0.0.1.$WX0_3">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX0.0.1.$WX0_3.0">18</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX0.0.1.$WX0_4">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX0.0.1.$WX0_4.0">25</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX0.0.1.$WX0_5">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX0.0.1.$WX0_5.0">26</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX0.0.1.$WX0_6">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX0.0.1.$WX0_6.0">33</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX0.0.1.$WX0_7">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX0.0.1.$WX0_7.0">34</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX0.0.1.$WX0_8">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX0.0.1.$WX0_8.0">47</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX0.0.1.$WX0_9">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX0.0.1.$WX0_9.0">48</span>
							</div>
						</div>
					</div>
					</li>
					<li class="" data-reactid=".8.3.0.$WX1">
					<div class="cs_op_ar_boSe2" data-reactid=".8.3.0.$WX1.0">
						<p class="title" data-reactid=".8.3.0.$WX1.0.0">
							木
						</p>
						<div class="go6h_EFRight" data-reactid=".8.3.0.$WX1.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX1.0.1.$WX1_0">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX1.0.1.$WX1_0.0">07</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX1.0.1.$WX1_1">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX1.0.1.$WX1_1.0">08</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX1.0.1.$WX1_2">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX1.0.1.$WX1_2.0">15</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX1.0.1.$WX1_3">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX1.0.1.$WX1_3.0">16</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX1.0.1.$WX1_4">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX1.0.1.$WX1_4.0">29</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX1.0.1.$WX1_5">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX1.0.1.$WX1_5.0">30</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX1.0.1.$WX1_6">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX1.0.1.$WX1_6.0">37</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX1.0.1.$WX1_7">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX1.0.1.$WX1_7.0">38</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX1.0.1.$WX1_8">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX1.0.1.$WX1_8.0">45</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX1.0.1.$WX1_9">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX1.0.1.$WX1_9.0">46</span>
							</div>
						</div>
					</div>
					</li>
					<li class="odd" data-reactid=".8.3.0.$WX2">
					<div class="cs_op_ar_boSe2" data-reactid=".8.3.0.$WX2.0">
						<p class="title" data-reactid=".8.3.0.$WX2.0.0">
							水
						</p>
						<div class="go6h_EFRight" data-reactid=".8.3.0.$WX2.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX2.0.1.$WX2_0">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX2.0.1.$WX2_0.0">05</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX2.0.1.$WX2_1">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX2.0.1.$WX2_1.0">06</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX2.0.1.$WX2_2">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX2.0.1.$WX2_2.0">13</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX2.0.1.$WX2_3">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX2.0.1.$WX2_3.0">14</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX2.0.1.$WX2_4">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX2.0.1.$WX2_4.0">21</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX2.0.1.$WX2_5">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX2.0.1.$WX2_5.0">22</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX2.0.1.$WX2_6">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX2.0.1.$WX2_6.0">35</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX2.0.1.$WX2_7">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX2.0.1.$WX2_7.0">36</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX2.0.1.$WX2_8">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX2.0.1.$WX2_8.0">43</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX2.0.1.$WX2_9">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX2.0.1.$WX2_9.0">44</span>
							</div>
						</div>
					</div>
					</li>
					<li class="" data-reactid=".8.3.0.$WX3">
					<div class="cs_op_ar_boSe2" data-reactid=".8.3.0.$WX3.0">
						<p class="title" data-reactid=".8.3.0.$WX3.0.0">
							火
						</p>
						<div class="go6h_EFRight" data-reactid=".8.3.0.$WX3.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX3.0.1.$WX3_0">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX3.0.1.$WX3_0.0">01</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX3.0.1.$WX3_1">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX3.0.1.$WX3_1.0">02</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX3.0.1.$WX3_2">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX3.0.1.$WX3_2.0">09</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX3.0.1.$WX3_3">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX3.0.1.$WX3_3.0">10</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX3.0.1.$WX3_4">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX3.0.1.$WX3_4.0">23</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX3.0.1.$WX3_5">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX3.0.1.$WX3_5.0">24</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX3.0.1.$WX3_6">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX3.0.1.$WX3_6.0">31</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX3.0.1.$WX3_7">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX3.0.1.$WX3_7.0">32</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX3.0.1.$WX3_8">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX3.0.1.$WX3_8.0">39</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX3.0.1.$WX3_8">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX3.0.1.$WX3_8.0">40</span>
							</div>							
						</div>
					</div>
					</li>
					<li class="odd" data-reactid=".8.3.0.$WX4">
					<div class="cs_op_ar_boSe2" data-reactid=".8.3.0.$WX4.0">
						<p class="title" data-reactid=".8.3.0.$WX4.0.0">
							土
						</p>
						<div class="go6h_EFRight" data-reactid=".8.3.0.$WX4.0.1">
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX4.0.1.$WX4_0">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX4.0.1.$WX4_0.0">11</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX4.0.1.$WX4_1">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX4.0.1.$WX4_1.0">12</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX4.0.1.$WX4_2">
								<span class="go6h_redBall" data-reactid=".8.3.0.$WX4.0.1.$WX4_2.0">19</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX4.0.1.$WX4_3">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX4.0.1.$WX4_3.0">20</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX4.0.1.$WX4_4">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX4.0.1.$WX4_4.0">27</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX4.0.1.$WX4_5">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX4.0.1.$WX4_5.0">28</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX4.0.1.$WX4_6">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX4.0.1.$WX4_6.0">41</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX4.0.1.$WX4_7">
								<span class="go6h_blueBall" data-reactid=".8.3.0.$WX4.0.1.$WX4_7.0">42</span>
							</div>
							<div class="go6h_ballShaped1" data-reactid=".8.3.0.$WX4.0.1.$WX4_9">
								<span class="go6h_greenBall" data-reactid=".8.3.0.$WX4.0.1.$WX4_9.0">49</span>
							</div>
						</div>
					</div>
					</li>
				</ul>
			</div>
<table width="100%" border="0">
<tbody>
<tr class="header">
<td colspan="2"><span class="fright"></span><span class="fleft">家禽野兽对照表</span></td>
</tr>
</tbody>
</table>			
			<div class="cs_op_ar_table" style="display: block;" data-reactid=".8.4">
				<table data-reactid=".8.4.0">
				<tbody data-reactid=".8.4.0.0">
				<tr data-reactid=".8.4.0.0.$tableItemjqysObjtr0">
					<td class="title" style="width:70px;" data-reactid=".8.4.0.0.$tableItemjqysObjtr0.$tableItemjqysObjtr0td-1">
						家禽
					</td>
					<td data-reactid=".8.4.0.0.$tableItemjqysObjtr0.$tableItemjqysObjtr0td0">
						牛
					</td>
					<td data-reactid=".8.4.0.0.$tableItemjqysObjtr0.$tableItemjqysObjtr0td1">
						马
					</td>
					<td data-reactid=".8.4.0.0.$tableItemjqysObjtr0.$tableItemjqysObjtr0td2">
						羊
					</td>
					<td data-reactid=".8.4.0.0.$tableItemjqysObjtr0.$tableItemjqysObjtr0td3">
						鸡
					</td>
					<td data-reactid=".8.4.0.0.$tableItemjqysObjtr0.$tableItemjqysObjtr0td4">
						狗
					</td>
					<td data-reactid=".8.4.0.0.$tableItemjqysObjtr0.$tableItemjqysObjtr0td5">
						猪
					</td>
				</tr>
				<tr data-reactid=".8.4.0.0.$tableItemjqysObjtr1">
					<td class="title" style="width:70px;" data-reactid=".8.4.0.0.$tableItemjqysObjtr1.$tableItemjqysObjtr1td-1">
						野兽
					</td>
					<td data-reactid=".8.4.0.0.$tableItemjqysObjtr1.$tableItemjqysObjtr1td0">
						鼠
					</td>
					<td data-reactid=".8.4.0.0.$tableItemjqysObjtr1.$tableItemjqysObjtr1td1">
						虎
					</td>
					<td data-reactid=".8.4.0.0.$tableItemjqysObjtr1.$tableItemjqysObjtr1td2">
						兔
					</td>
					<td data-reactid=".8.4.0.0.$tableItemjqysObjtr1.$tableItemjqysObjtr1td3">
						龙
					</td>
					<td data-reactid=".8.4.0.0.$tableItemjqysObjtr1.$tableItemjqysObjtr1td4">
						蛇
					</td>
					<td data-reactid=".8.4.0.0.$tableItemjqysObjtr1.$tableItemjqysObjtr1td5">
						猴
					</td>
				</tr>
				</tbody>
				</table>
			</div>
<table width="100%" border="0">
<tbody>
<tr class="header">
<td colspan="2"><span class="fright"></span><span class="fleft">男女生肖对照表</span></td>
</tr>
</tbody>
</table>			
			<div class="cs_op_ar_table" style="display: block;" data-reactid=".8.5">
				<table data-reactid=".8.5.0">
				<tbody data-reactid=".8.5.0.0">
				<tr data-reactid=".8.5.0.0.$tableItemnnsxObjtr0">
					<td class="title" style="width:70px;" data-reactid=".8.5.0.0.$tableItemnnsxObjtr0.$tableItemnnsxObjtr0td-1">
						男肖
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr0.$tableItemnnsxObjtr0td0">
						鼠
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr0.$tableItemnnsxObjtr0td1">
						牛
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr0.$tableItemnnsxObjtr0td2">
						虎
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr0.$tableItemnnsxObjtr0td3">
						龙
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr0.$tableItemnnsxObjtr0td4">
						马
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr0.$tableItemnnsxObjtr0td5">
						猴
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr0.$tableItemnnsxObjtr0td6">
						狗
					</td>
				</tr>
				<tr data-reactid=".8.5.0.0.$tableItemnnsxObjtr1">
					<td class="title" style="width:70px;" data-reactid=".8.5.0.0.$tableItemnnsxObjtr1.$tableItemnnsxObjtr1td-1">
						女肖
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr1.$tableItemnnsxObjtr1td0">
						兔
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr1.$tableItemnnsxObjtr1td1">
						蛇
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr1.$tableItemnnsxObjtr1td2">
						羊
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr1.$tableItemnnsxObjtr1td3">
						鸡
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr1.$tableItemnnsxObjtr1td4">
						猪
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr1.$tableItemnnsxObjtr1td5">
					</td>
					<td data-reactid=".8.5.0.0.$tableItemnnsxObjtr1.$tableItemnnsxObjtr1td6">
					</td>
				</tr>
				</tbody>
				</table>
			</div>
<table width="100%" border="0">
<tbody>
<tr class="header">
<td colspan="2"><span class="fright"></span><span class="fleft">天地生肖对照表</span></td>
</tr>
</tbody>
</table>			
			<div class="cs_op_ar_table" style="display: block;" data-reactid=".8.6">
				<table data-reactid=".8.6.0">
				<tbody data-reactid=".8.6.0.0">
				<tr data-reactid=".8.6.0.0.$tableItemtdsxObjtr0">
					<td class="title" style="width:70px;" data-reactid=".8.6.0.0.$tableItemtdsxObjtr0.$tableItemtdsxObjtr0td-1">
						天肖
					</td>
					<td data-reactid=".8.6.0.0.$tableItemtdsxObjtr0.$tableItemtdsxObjtr0td0">
						牛
					</td>
					<td data-reactid=".8.6.0.0.$tableItemtdsxObjtr0.$tableItemtdsxObjtr0td1">
						兔
					</td>
					<td data-reactid=".8.6.0.0.$tableItemtdsxObjtr0.$tableItemtdsxObjtr0td2">
						龙
					</td>
					<td data-reactid=".8.6.0.0.$tableItemtdsxObjtr0.$tableItemtdsxObjtr0td3">
						马
					</td>
					<td data-reactid=".8.6.0.0.$tableItemtdsxObjtr0.$tableItemtdsxObjtr0td4">
						猴
					</td>
					<td data-reactid=".8.6.0.0.$tableItemtdsxObjtr0.$tableItemtdsxObjtr0td5">
						猪
					</td>
				</tr>
				<tr data-reactid=".8.6.0.0.$tableItemtdsxObjtr1">
					<td class="title" style="width:70px;" data-reactid=".8.6.0.0.$tableItemtdsxObjtr1.$tableItemtdsxObjtr1td-1">
						地肖
					</td>
					<td data-reactid=".8.6.0.0.$tableItemtdsxObjtr1.$tableItemtdsxObjtr1td0">
						鼠
					</td>
					<td data-reactid=".8.6.0.0.$tableItemtdsxObjtr1.$tableItemtdsxObjtr1td1">
						虎
					</td>
					<td data-reactid=".8.6.0.0.$tableItemtdsxObjtr1.$tableItemtdsxObjtr1td2">
						蛇
					</td>
					<td data-reactid=".8.6.0.0.$tableItemtdsxObjtr1.$tableItemtdsxObjtr1td3">
						羊
					</td>
					<td data-reactid=".8.6.0.0.$tableItemtdsxObjtr1.$tableItemtdsxObjtr1td4">
						鸡
					</td>
					<td data-reactid=".8.6.0.0.$tableItemtdsxObjtr1.$tableItemtdsxObjtr1td5">
						狗
					</td>
				</tr>
				</tbody>
				</table>
			</div>
<table width="100%" border="0">
<tbody>
<tr class="header">
<td colspan="2"><span class="fright"></span><span class="fleft">四季生肖对照表</span></td>
</tr>
</tbody>
</table>			
			<div class="cs_op_ar_table" style="display: block;" data-reactid=".8.7">
				<table data-reactid=".8.7.0">
				<tbody data-reactid=".8.7.0.0">
				<tr data-reactid=".8.7.0.0.$tableItemsjsxObjtr0">
					<td class="title" style="width:70px;" data-reactid=".8.7.0.0.$tableItemsjsxObjtr0.$tableItemsjsxObjtr0td-1">
						春肖
					</td>
					<td data-reactid=".8.7.0.0.$tableItemsjsxObjtr0.$tableItemsjsxObjtr0td0">
						虎
					</td>
					<td data-reactid=".8.7.0.0.$tableItemsjsxObjtr0.$tableItemsjsxObjtr0td1">
						兔
					</td>
					<td data-reactid=".8.7.0.0.$tableItemsjsxObjtr0.$tableItemsjsxObjtr0td2">
						龙
					</td>
				</tr>
				<tr data-reactid=".8.7.0.0.$tableItemsjsxObjtr1">
					<td class="title" style="width:70px;" data-reactid=".8.7.0.0.$tableItemsjsxObjtr1.$tableItemsjsxObjtr1td-1">
						夏肖
					</td>
					<td data-reactid=".8.7.0.0.$tableItemsjsxObjtr1.$tableItemsjsxObjtr1td0">
						蛇
					</td>
					<td data-reactid=".8.7.0.0.$tableItemsjsxObjtr1.$tableItemsjsxObjtr1td1">
						马
					</td>
					<td data-reactid=".8.7.0.0.$tableItemsjsxObjtr1.$tableItemsjsxObjtr1td2">
						羊
					</td>
				</tr>
				<tr data-reactid=".8.7.0.0.$tableItemsjsxObjtr2">
					<td class="title" style="width:70px;" data-reactid=".8.7.0.0.$tableItemsjsxObjtr2.$tableItemsjsxObjtr2td-1">
						秋肖
					</td>
					<td data-reactid=".8.7.0.0.$tableItemsjsxObjtr2.$tableItemsjsxObjtr2td0">
						猴
					</td>
					<td data-reactid=".8.7.0.0.$tableItemsjsxObjtr2.$tableItemsjsxObjtr2td1">
						鸡
					</td>
					<td data-reactid=".8.7.0.0.$tableItemsjsxObjtr2.$tableItemsjsxObjtr2td2">
						狗
					</td>
				</tr>
				<tr data-reactid=".8.7.0.0.$tableItemsjsxObjtr3">
					<td class="title" style="width:70px;" data-reactid=".8.7.0.0.$tableItemsjsxObjtr3.$tableItemsjsxObjtr3td-1">
						冬肖
					</td>
					<td data-reactid=".8.7.0.0.$tableItemsjsxObjtr3.$tableItemsjsxObjtr3td0">
						鼠
					</td>
					<td data-reactid=".8.7.0.0.$tableItemsjsxObjtr3.$tableItemsjsxObjtr3td1">
						牛
					</td>
					<td data-reactid=".8.7.0.0.$tableItemsjsxObjtr3.$tableItemsjsxObjtr3td2">
						猪
					</td>
				</tr>
				</tbody>
				</table>
			</div>
<table width="100%" border="0">
<tbody>
<tr class="header">
<td colspan="2"><span class="fright"></span><span class="fleft">琴棋书画对照表</span></td>
</tr>
</tbody>
</table>			
			<div class="cs_op_ar_table" style="display: block;" data-reactid=".8.8">
				<table data-reactid=".8.8.0">
				<tbody data-reactid=".8.8.0.0">
				<tr data-reactid=".8.8.0.0.$tableItemqqshObjtr0">
					<td class="title" style="width:70px;" data-reactid=".8.8.0.0.$tableItemqqshObjtr0.$tableItemqqshObjtr0td-1">
						琴肖
					</td>
					<td data-reactid=".8.8.0.0.$tableItemqqshObjtr0.$tableItemqqshObjtr0td0">
						兔
					</td>
					<td data-reactid=".8.8.0.0.$tableItemqqshObjtr0.$tableItemqqshObjtr0td1">
						蛇
					</td>
					<td data-reactid=".8.8.0.0.$tableItemqqshObjtr0.$tableItemqqshObjtr0td2">
						鸡
					</td>
				</tr>
				<tr data-reactid=".8.8.0.0.$tableItemqqshObjtr1">
					<td class="title" style="width:70px;" data-reactid=".8.8.0.0.$tableItemqqshObjtr1.$tableItemqqshObjtr1td-1">
						棋肖
					</td>
					<td data-reactid=".8.8.0.0.$tableItemqqshObjtr1.$tableItemqqshObjtr1td0">
						鼠
					</td>
					<td data-reactid=".8.8.0.0.$tableItemqqshObjtr1.$tableItemqqshObjtr1td1">
						牛
					</td>
					<td data-reactid=".8.8.0.0.$tableItemqqshObjtr1.$tableItemqqshObjtr1td2">
						狗
					</td>
				</tr>
				<tr data-reactid=".8.8.0.0.$tableItemqqshObjtr2">
					<td class="title" style="width:70px;" data-reactid=".8.8.0.0.$tableItemqqshObjtr2.$tableItemqqshObjtr2td-1">
						书肖
					</td>
					<td data-reactid=".8.8.0.0.$tableItemqqshObjtr2.$tableItemqqshObjtr2td0">
						虎
					</td>
					<td data-reactid=".8.8.0.0.$tableItemqqshObjtr2.$tableItemqqshObjtr2td1">
						龙
					</td>
					<td data-reactid=".8.8.0.0.$tableItemqqshObjtr2.$tableItemqqshObjtr2td2">
						马
					</td>
				</tr>
				<tr data-reactid=".8.8.0.0.$tableItemqqshObjtr3">
					<td class="title" style="width:70px;" data-reactid=".8.8.0.0.$tableItemqqshObjtr3.$tableItemqqshObjtr3td-1">
						画肖
					</td>
					<td data-reactid=".8.8.0.0.$tableItemqqshObjtr3.$tableItemqqshObjtr3td0">
						羊
					</td>
					<td data-reactid=".8.8.0.0.$tableItemqqshObjtr3.$tableItemqqshObjtr3td1">
						猴
					</td>
					<td data-reactid=".8.8.0.0.$tableItemqqshObjtr3.$tableItemqqshObjtr3td2">
						猪
					</td>
				</tr>
				</tbody>
				</table>
			</div>
<table width="100%" border="0">
<tbody>
<tr class="header">
<td colspan="2"><span class="fright"></span><span class="fleft">三色生肖对照表</span></td>
</tr>
</tbody>
</table>			
			<div class="cs_op_ar_table" style="display: block;" data-reactid=".8.9">
				<table data-reactid=".8.9.0">
				<tbody data-reactid=".8.9.0.0">
				<tr data-reactid=".8.9.0.0.$tableItemsssxObjtr0">
					<td class="title" style="width:70px;" data-reactid=".8.9.0.0.$tableItemsssxObjtr0.$tableItemsssxObjtr0td-1">
						红肖
					</td>
					<td data-reactid=".8.9.0.0.$tableItemsssxObjtr0.$tableItemsssxObjtr0td0">
						鼠
					</td>
					<td data-reactid=".8.9.0.0.$tableItemsssxObjtr0.$tableItemsssxObjtr0td1">
						兔
					</td>
					<td data-reactid=".8.9.0.0.$tableItemsssxObjtr0.$tableItemsssxObjtr0td2">
						马
					</td>
					<td data-reactid=".8.9.0.0.$tableItemsssxObjtr0.$tableItemsssxObjtr0td3">
						鸡
					</td>
				</tr>
				<tr data-reactid=".8.9.0.0.$tableItemsssxObjtr1">
					<td class="title" style="width:70px;" data-reactid=".8.9.0.0.$tableItemsssxObjtr1.$tableItemsssxObjtr1td-1">
						蓝肖
					</td>
					<td data-reactid=".8.9.0.0.$tableItemsssxObjtr1.$tableItemsssxObjtr1td0">
						虎
					</td>
					<td data-reactid=".8.9.0.0.$tableItemsssxObjtr1.$tableItemsssxObjtr1td1">
						蛇
					</td>
					<td data-reactid=".8.9.0.0.$tableItemsssxObjtr1.$tableItemsssxObjtr1td2">
						猴
					</td>
					<td data-reactid=".8.9.0.0.$tableItemsssxObjtr1.$tableItemsssxObjtr1td3">
						猪
					</td>
				</tr>
				<tr data-reactid=".8.9.0.0.$tableItemsssxObjtr2">
					<td class="title" style="width:70px;" data-reactid=".8.9.0.0.$tableItemsssxObjtr2.$tableItemsssxObjtr2td-1">
						绿肖
					</td>
					<td data-reactid=".8.9.0.0.$tableItemsssxObjtr2.$tableItemsssxObjtr2td0">
						牛
					</td>
					<td data-reactid=".8.9.0.0.$tableItemsssxObjtr2.$tableItemsssxObjtr2td1">
						龙
					</td>
					<td data-reactid=".8.9.0.0.$tableItemsssxObjtr2.$tableItemsssxObjtr2td2">
						羊
					</td>
					<td data-reactid=".8.9.0.0.$tableItemsssxObjtr2.$tableItemsssxObjtr2td3">
						狗
					</td>
				</tr>
				</tbody>
				</table>
			</div>
		</div>

	</div>
<include file="Wap:footer" />
</body>
</html>                                        