<!doctype html>
<html>
<head>
    <meta charset="utf-8">
<title>四肖统计走势图 － 六合开奖记录直播</title>
<meta name="keywords" content="一起发开奖现场,手机报码,四肖统计走势图,手机开奖网址" />
<meta name="description" content="一起发开奖现场第一时间更新开奖结果,不用电脑上网也可以用手机查看最新开奖结果" />	
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="/Index/Public/wap/mobile.css"/>
	<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}view.css"/>
<style type="text/css">
.bg{ background: #E1E1FF no-repeat center center;text-align:center;color:#000000;font-size:15px;font-family:Arial;}
</style>
</head>

<body>
<!--head begin-->
<header id="uiHead" class="ui-head">
    <div class="ui-head-in">
        <div class="ui-head-l">
            <span class="ui-head-btn1">返回</span>
        </div>
        <div class="ui-head-m">
            <h2 class="ui-head-tit">六合走势图</h2>
        </div>
    </div>
</header>
<!--head end-->
<!--彩种导航 start-->
<div class="ui-navbox">
    <div class="ui-navbox-in">
        <ul>
            <li><include file="wap:form" /></li>
        </ul>
    </div>
</div>
<!--彩种导航 end-->

<div class="wrapper">
    <div class="zous-2col zous-2col-long">
    <div class="zous-2col-l">
        <table class="zstable2 zstable2-tit zstable2-tit-scrollhd">
            <tr>
                <th>期号</th>
            </tr>
        </table>
        <table class="zstable2 zstable2-tit zstable2-tit-scrollbd">
<foreach name="list" item="vo">		
                            <tr>
                    <td class="itm-qih">{$vo['title']}期</td>
                </tr>
</foreach>				
                    </table>
    </div>

    <div class="zous-2col-r zstable2-main-scroll">
        <table class="zstable2 zstable2-main zstable2-main-scrollhd zstable2-yil">
            <colgroup>
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">				
            </colgroup>
</td><td ></td><td >基</td><td >本</td><td >号</td><td >肖</td><td ></td><td ></td><td class="bg">正</td><td class="bg">一</td><td class="bg">肖</td><td class="bg"></td><td >正</td><td >二</td><td >肖</td><td ></td><td class="bg">正</td><td class="bg">三</td><td class="bg">肖</td><td class="bg"></td><td >正</td><td >四</td><td >肖</td><td ></td><td class="bg">正</td><td class="bg">五</td><td class="bg">肖</td><td  class="bg"></td><td >正</td><td >六</td><td >肖</td><td ></td><td class="bg">特</td><td class="bg"></td><td class="bg">肖</td><td class="bg"></td></tr>
<tr ><td >一</td><td >二</td><td >三</td><td >四</td><td >五</td><td >六</td><td >特</td><td class="bg">一</td><td class="bg">二</td><td class="bg">三</td><td class="bg">四</td><td>一</td><td>二</td><td>三</td><td>四</td><td class="bg">一</td><td class="bg">二</td><td class="bg">三</td><td class="bg">四</td><td>一</td><td>二</td><td>三</td><td>四</td><td class="bg">一</td><td class="bg">二</td><td class="bg">三</td><td class="bg">四</td><td>一</td><td>二</td><td>三</td><td>四</td><td class="bg">一</td><td class="bg">二</td><td class="bg">三</td><td class="bg">四</td></tr>
	
        </table>
        <table class="zstable2 zstable2-main zstable2-main-scrollbd zstable2-yil">
            <colgroup>
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">				
            </colgroup>
<foreach name="list" item="vo">
<tr>
<td class="{$vo['tit1']|cz_band_txt}"><FONT color=#ffffff>{$vo['tit1']}</FONT></td>
<td class="{$vo['tit2']|cz_band_txt}"><FONT color=#ffffff>{$vo['tit2']}</FONT></td>
<td class="{$vo['tit3']|cz_band_txt}"><FONT color=#ffffff>{$vo['tit3']}</FONT></td>
<td class="{$vo['tit4']|cz_band_txt}"><FONT color=#ffffff>{$vo['tit4']}</FONT></td>
<td class="{$vo['tit5']|cz_band_txt}"><FONT color=#ffffff>{$vo['tit5']}</FONT></td>
<td class="{$vo['tit6']|cz_band_txt}"><FONT color=#ffffff>{$vo['tit6']}</FONT></td>
<td class="{$vo['tit7']|cz_band_txt}"><FONT color=#ffffff>{$vo['tit7']}</FONT></td>
<?php if (in_array($vo['tit01'], array("鼠","龍","猴"))){
$nums1=$nums1+1;
?>
<td class="r"><FONT color=#ffffff><?=$vo['tit01']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit01'], array("牛","蛇","雞"))){
$nums2=$nums2+1;
?>
<td class="o"><FONT color=#ffffff><?=$vo['tit01']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit01'], array("虎","馬","狗"))){
$nums3=$nums3+1;
?>
<td class="m"><FONT color=#ffffff><?=$vo['tit01']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit01'], array("兔","羊","豬"))){
$nums4=$nums4+1;
?>
<td class="b"><FONT color=#ffffff><?=$vo['tit01']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>

<?php if (in_array($vo['tit02'], array("鼠","龍","猴"))){
$nums5=$nums5+1;
?>
<td class="r"><FONT color=#ffffff><?=$vo['tit02']?></FONT></td>
<?php }else{?>
<td style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit02'], array("牛","蛇","雞"))){
$nums6=$nums6+1;
?>
<td class="o"><FONT color=#ffffff><?=$vo['tit02']?></FONT></td>
<?php }else{?>
<td  style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit02'], array("虎","馬","狗"))){
$nums7=$nums7+1;
?>
<td class="m"><FONT color=#ffffff><?=$vo['tit02']?></FONT></td>
<?php }else{?>
<td  style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit02'], array("兔","羊","豬"))){
$nums8=$nums8+1;
?>
<td class="b"><FONT color=#ffffff><?=$vo['tit02']?></FONT></td>
<?php }else{?>
<td  style="color:#cccccc;"></td>
<?php }?>

<?php if (in_array($vo['tit03'], array("鼠","龍","猴"))){
$nums9=$nums9+1;
?>
<td class="r"><FONT color=#ffffff><?=$vo['tit03']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit03'], array("牛","蛇","雞"))){
$nums10=$nums10+1;
?>
<td class="o"><FONT color=#ffffff><?=$vo['tit03']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit03'], array("虎","馬","狗"))){
$nums11=$nums11+1;
?>
<td class="m"><FONT color=#ffffff><?=$vo['tit03']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit03'], array("兔","羊","豬"))){
$nums12=$nums12+1;
?>
<td class="b"><FONT color=#ffffff><?=$vo['tit03']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>

<?php if (in_array($vo['tit04'], array("鼠","龍","猴"))){
$nums13=$nums13+1;
?>
<td class="r"><FONT color=#ffffff><?=$vo['tit04']?></FONT></td>
<?php }else{?>
<td style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit04'], array("牛","蛇","雞"))){
$nums14=$nums14+1;
?>
<td class="o"><FONT color=#ffffff><?=$vo['tit04']?></FONT></td>
<?php }else{?>
<td style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit04'], array("虎","馬","狗"))){
$nums15=$nums15+1;
?>
<td class="m"><FONT color=#ffffff><?=$vo['tit04']?></FONT></td>
<?php }else{?>
<td style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit04'], array("兔","羊","豬"))){
$nums16=$nums16+1;
?>
<td class="b"><FONT color=#ffffff><?=$vo['tit04']?></FONT></td>
<?php }else{?>
<td style="color:#cccccc;"></td>
<?php }?>

<?php if (in_array($vo['tit05'], array("鼠","龍","猴"))){
$nums17=$nums17+1;
?>
<td class="r"><FONT color=#ffffff><?=$vo['tit05']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit05'], array("牛","蛇","雞"))){
$nums18=$nums18+1;
?>
<td class="o"><FONT color=#ffffff><?=$vo['tit05']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit05'], array("虎","馬","狗"))){
$nums19=$nums19+1;
?>
<td class="m"><FONT color=#ffffff><?=$vo['tit05']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit05'], array("兔","羊","豬"))){
$nums20=$nums20+1;
?>
<td class="b"><FONT color=#ffffff><?=$vo['tit05']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>

<?php if (in_array($vo['tit06'], array("鼠","龍","猴"))){
$nums21=$nums21+1;
?>
<td class="r"><FONT color=#ffffff><?=$vo['tit06']?></FONT></td>
<?php }else{?>
<td style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit06'], array("牛","蛇","雞"))){
$nums22=$nums22+1;
?>
<td class="o"><FONT color=#ffffff><?=$vo['tit06']?></FONT></td>
<?php }else{?>
<td style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit06'], array("虎","馬","狗"))){
$nums23=$nums23+1;
?>
<td class="m"><FONT color=#ffffff><?=$vo['tit06']?></FONT></td>
<?php }else{?>
<td style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit06'], array("兔","羊","豬"))){
$nums24=$nums24+1;
?>
<td class="b"><FONT color=#ffffff><?=$vo['tit06']?></FONT></td>
<?php }else{?>
<td style="color:#cccccc;"></td>
<?php }?>


<?php if (in_array($vo['tit07'], array("鼠","龍","猴"))){
$nums25=$nums25+1;
?>
<td class="r"><FONT color=#ffffff><?=$vo['tit07']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit07'], array("牛","蛇","雞"))){
$nums26=$nums26+1;
?>
<td class="o"><FONT color=#ffffff><?=$vo['tit07']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit07'], array("虎","馬","狗"))){
$nums27=$nums27+1;
?>
<td class="m"><FONT color=#ffffff><?=$vo['tit07']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>
<?php if (in_array($vo['tit07'], array("兔","羊","豬"))){
$nums28=$nums28+1;
?>
<td class="b"><FONT color=#ffffff><?=$vo['tit07']?></FONT></td>
<?php }else{?>
<td class="bg" style="color:#cccccc;"></td>
<?php }?>
</tr>
</foreach>															
</table>
    </div>
</div>

<div class="zous-2col zous-2col-long zous-2col-longinfo">
    <div class="zous-2col-l">
        <table class="zstable3">
            <tr>
                <th></th>
            </tr>
            <tr>
                <th>期数</th>
            </tr>
            <tr>
                <th></th>
            </tr>			
        </table>
    </div>

    <div class="zous-2col-r zstable2-main-scroll">
        <table class="zstable3">
            <colgroup>
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
                <col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">
				<col width="30">				
            </colgroup>
<tr>
<td ></td>
<td >基</td>
<td >本</td>
<td >号</td>
<td >肖</td>
<td ></td>
<td ></td>
<td class="bg">正</td><td class="bg">一</td><td class="bg">肖</td><td class="bg"></td><td >正</td><td >二</td><td >肖</td><td ></td><td class="bg">正</td><td class="bg">三</td><td class="bg">肖</td><td class="bg"></td><td >正</td><td >四</td><td >肖</td><td ></td><td class="bg">正</td><td class="bg">五</td><td class="bg">肖</td><td class="bg"></td><td >正</td><td >六</td><td >肖</td><td ></td><td class="bg">特</td><td class="bg"></td><td class="bg"></td><td class="bg">肖</td></tr>
<tr ><td >一</td><td >二</td><td >三</td><td >四</td><td >五</td><td >六</td><td >特</td><td class="bg">一</td><td class="bg">二</td><td class="bg">三</td><td class="bg">四</td><td>一</td><td>二</td><td>三</td><td>四</td><td class="bg">一</td><td class="bg">二</td><td class="bg">三</td><td class="bg">四</td><td>一</td><td>二</td><td>三</td><td>四</td><td class="bg">一</td><td class="bg">二</td><td class="bg">三</td><td class="bg">四</td><td>一</td><td>二</td><td>三</td><td>四</td><td class="bg">一</td><td class="bg">二</td><td class="bg">三</td>
<td class="bg">四</td></tr>
<tr ><td ></td><td ></td><td ></td><td >累</td><td >计</td><td >次</td><td >数</td>
<td class="bg"><?=$nums1?></td>
<td class="bg"><?=$nums2?></td>
<td class="bg"><?=$nums3?></td>
<td class="bg"><?=$nums4?></td>
<td><?=$nums5?></td>
<td><?=$nums6?></td>
<td><?=$nums7?></td>
<td><?=$nums8?></td>
<td class="bg"><?=$nums9?></td>
<td class="bg"><?=$nums10?></td>
<td class="bg"><?=$nums11?></td>
<td class="bg"><?=$nums12?></td>
<td><?=$nums13?></td>
<td><?=$nums14?></td>
<td><?=$nums15?></td>
<td><?=$nums16?></td>
<td class="bg"><?=$nums17?></td>
<td class="bg"><?=$nums18?></td>
<td class="bg"><?=$nums19?></td>
<td class="bg"><?=$nums20?></td>
<td><?=$nums21?></td>
<td><?=$nums22?></td>
<td><?=$nums23?></td>
<td><?=$nums24?></td>
<td class="bg"><?=$nums25?></td>
<td class="bg"><?=$nums26?></td>
<td class="bg"><?=$nums27?></td>
<td class="bg"><?=$nums28?></td>
</tr>
        </table>
    </div>
</div>
<ul class="zous-list">
    <li>属性说明：将12生肖分为四组。</li>
    <li>1、一子肖=鼠,龍,猴</li>
    <li>2、二子肖=牛,蛇,雞</li>
    <li>3、三子肖=虎,馬,狗</li>
	<li>4、四子肖=兔,羊,豬</li>
    <li style="color: red">按住屏幕中间可往左移动查看</li>
</ul>
</div>


<div class="zous-foot-qh-wrap">
    <div class="zous-foot-qh">

        <span class="on">四肖统计走势图</span>

    </div>
</div>


<div class="zous-haomb-btn hide"></div>

<!--弹层 开始-->
<div class="ui-alert-layer hide"></div>
<div class="zous-haomb on hide">

</div>
<!--弹层 结束-->




<script type="text/javascript" src="/Index/Public/wap/vendor.js"></script>



<script type="text/javascript">
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        clickEvent = "tap";
    } else {
        clickEvent = "click";
    }

    $(function () {

        //切换统计的期数
        $("span[data-code]").on(clickEvent, function () {
            $(".zous-foot-qh span").removeClass("on");
            $(this).addClass("on");
            var code = $(this).attr("data-code");
            $.get("/chart/ssq/houqu/" + code, function (data) {
                $(".wrapper").html(data);
                addScroll();
            })
        });

        //投注弹窗
        $('.zous-haomb-btn').on(clickEvent, function () {
            $('.ui-alert-layer').removeClass('hide');
            $('.zous-haomb').removeClass('hide');
        });

        //头部
        $(".ui-head-btn1").on("click", function () {
            history.back();
        });

        $("li[data-href]").on(clickEvent, function () {
            var url = $(this).attr("data-href");
            window.location.href = url + "?_t=" + new Date().getMilliseconds();
        });


        function addScroll(){
            //左右-上下滚动
            var o2ColScrollL = $('.zous-2col-l').width(),
                o2ColScrollHD = $('.zstable2-main-scrollhd').eq(0),
                o2ColScrollHDinfo = $('.zous-2col-longinfo').find('.zstable2-main-scrollhd').eq(0),
                o2ColScroll = $('.zstable2-main-scroll'),
                o2ColScrollinfo = $('.zous-2col-longinfo').find('.zstable2-main-scroll').eq(0),
                nCurScrollLeft;

            $('.zous-2col-r').width($(window).width() - o2ColScrollL);
            $(window).on('resize', function () {
                $('.zous-2col-r').width($(window).width() - o2ColScrollL);
            });

            $(o2ColScroll).scroll(function () {
                nCurScrollLeft = $(this).scrollLeft();
                o2ColScrollHD.css('left', -nCurScrollLeft + o2ColScrollL);
                o2ColScrollinfo.scrollLeft(nCurScrollLeft);
            });
            $(o2ColScrollinfo).scroll(function () {
                nCurScrollLeft = $(this).scrollLeft();
                o2ColScrollHD.css('left', -nCurScrollLeft + o2ColScrollL);
                o2ColScroll.scrollLeft(nCurScrollLeft);
            });
        }
        addScroll();
    });

</script>


</body>
</html>