<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="一起发开奖现场">
<meta name="format-detection" content="telephone=no,address=no,email=no">
<meta name="wap-font-scale" content="no">
<meta name="aplus-touch" content="1">
<meta name="msapplication-tap-highlight" content="no">
<title>六合走势图_统计图表 - 马经历史图库这里是香港六合彩图库大全_<?=Cz_cig('site_name')?></title>
<meta name="keywords" content="六合走势图_统计图表" />
<meta name="description" content="117kj图库：六合走势图_统计图表" />
<link href="{$Think.const.CSS_URL}m.css" rel="stylesheet" type="text/css" />
</head>
<body onload="checkCookie()">
<include file="Wap:header" />	
<div id="mainer">
<table width="100%" border="0">
<tbody>
<tr class="header">
<td colspan="2"><span class="fright"></span><span class="fleft">六合走势图</span></td>
</tr>
</tbody>
</table>
<div class="d1">
<div class="aa1 lc1">
<li><a href="/lhc.html">开奖号码走势</a></li>
<li><a href="/lhc1.html">六合特码走势</a></li>
<li><a href="/lhc2.html">特码生肖走势</a></li>
<li><a href="/lhc3.html">特码波色走势</a></li>
<li><a href="/lhc4.html">特码单双走势</a></li>
<li><a href="/lhc5.html">特码段位走势</a></li>
<li><a href="/lhc6.html">特码头数走势</a></li>
<li><a href="/lhc7.html">特码尾数走势</a></li>
<li><a href="/lhc8.html">特码五行走势</a></li>
</div>
</div>
<table width="100%" border="0">
<tbody>
<tr class="header">
<td colspan="2"><span class="fright"></span><span class="fleft">统计图表</span></td>
</tr>
</tbody>
</table>
<div class="d1">
<div class="aa1 lc1">
<li><a href="/table1.html">十二生肖统计</a></li>
<li><a href="/table2.html">四肖统计</a></li>
<li><a href="/table3.html">阴阳生肖统计</a></li>
<li><a href="/table4.html">天地生肖统计</a></li>
<li><a href="/table5.html">大小号码统计</a></li>
<li><a href="/table6.html">六肖统计走势图</a></li>
<li><a href="/table7.html">三色生肖统计</a></li>
<li><a href="/table8.html">男女生肖统计</a></li>
<li><a href="/table9.html">五行统计走势图</a></li>
<li><a href="/table10.html">单双号码统计</a></li>
<li><a href="/table24.html">紅綠藍三色统计</a></li>
</div>
</div>
</div>
<div class="blank"></div>
<div class="blank"></div>
<div class="blank"></div>
<div class="blank"></div>
<div class="blank"></div>
<div class="blank"></div>
<div class="blank"></div>
<div class="blank"></div>
<div class="blank"></div>

<include file="Wap:footer" />
</body>
</html>
