<include file='index:header' />
<link href="{$Think.const.CSS_URL}common.css" rel="stylesheet" type="text/css"/>
<link href="{$Think.const.CZEDITOR}themes/default/default.css" rel="stylesheet" type="text/css" />
		<div class="main-container" id="main-container">


<include file='index:left' />

			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">
					
						<div class="page-header">
							<h1>
								您当前操作
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									修改彩色图库
								</small>
							</h1>
						</div>							

							<div class="row">
							    <div class="col-xs-12">
										<div>
<div class="formbody">										
<div id="msg">
<input id="Id" type="hidden" value="{$info.id}">
<input id="ClassID"  type="hidden" value="">
<table class="page_table" cellpadding="0" cellspacing="1">
<tr>
<td width="10%" class="td_left">信息标题：</td>
<td width="90%" class="left"><input id="title" type="text" style="width:350px;" class="biankuan" value="{$info.title}"/></td>
</tr>
<tr>
<td width="9%"  class="td_left">信息分类：</td>
<td colspan="2" class="left"><iframe frameborder=0 id=FrmRight name=right src="__CONTROLLER__/caise_directory/?NumberID={$info['directory4']}" style="HEIGHT:30px; VISIBILITY: inherit; WIDTH: 100%; Z-INDEX: 1"></iframe></td>
</tr>
<tr>
<td width="10%" class="td_left">彩图标识：</td>
<td width="90%" class="left"><input  type="text" id="content" value="{$info.content}" class="biankuan" style="width:350px;"/></td>
</tr>
<tr>
<td>
</td>
<td align="left">
<input type="button"  value="提交内容" class="tijiao_input"  onClick="Get_add_Save()"/>
</td>
</tr>
</table>
</div>
<div>
							    		</div>
									</div>
								</div>

<include file='index:header_nav' />

					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
</div>			
<include file='index:footer' />		
</div>
<script src="{$Think.const.JS_URL}jquery.min.js"></script>

<script>
//==========设置几秒跳转
var i = 2; 
var intervalid; 
function TiaoSecond(Yoyo){ 
if (i ==0) { 
window.location.href =Yoyo; 
clearInterval(intervalid); 
} 
document.getElementById("mes").innerHTML = i; 
i--; 
} 	
//==========设置几秒结束


//=======================获取数据
function Get_add_Save(){
var Id      =$("#Id").attr("value");
var title   =$("#title").attr("value");
var ClassID =$("#ClassID").attr("value");
var path    =$("#path").attr("value");
var content =$("#content").attr("value");
jQuery.ajax({
url: "__CONTROLLER__/caise_info_edit.html",
dataType:"json",
type:"POST",
data:{Action:"Edit",title:title,ClassID:ClassID,path:path,content:content,Id:Id},
beforeSend: function(XHR){
$('#msg').html('<center><br><br><img alt="正在加载中..." src="{$Think.const.IMG_URL}Loading/load1.gif" ></center>');	
},
success:function(data) {
$("#msg").html(data.msg)
intervalid =setInterval("TiaoSecond('__CONTROLLER__/caise.html')",1000);//==========执行几秒跳转
}
});

}
</script>
	</body>
</html>	