<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN" dir="ltr">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8">
<title>六合彩开奖号码综合分析_开奖记录搜索_查找历史开奖结果，可快速找到一肖一码中特等公式规律_<?=Cz_cig('site_name')?></title>
<meta name="keywords" content="六合彩开奖号码综合分析" />
<meta name="description" content="六合彩开奖记录搜索_查找历史开奖结果，可快速找到一肖一码中特等公式规律_<?=Cz_cig('site_name')?>" />
<meta name="viewport" content="width=1080" />
<link href="{$Think.const.CSS_URL}list.css" rel="stylesheet" type="text/css" />
<link href="{$Think.const.CSS_URL}self.css" rel="stylesheet" type="text/css" />
<link href="{$Think.const.CSS_URL}zoushi.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]><script src="{$Think.const.JS_URL}html5.js" type="text/javascript"></script><![endif]-->
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="{$Think.const.JS_URL}superslide.js" type="text/javascript"></script>
<script language="javascript" src="{$Think.const.JS_URL}zst.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<include file="Index:header" />
<div class="menu">
<div class="inner main">
<dl>
<dt>选择<br />年份</dt>
<dd>
<ul>
<?php  for($i =1976; $i <= $dates; $i++) { ?>
<li><a href="{:U('Home/Charts/index')}?id=<?=$i?>"><?=$i?></a></li>
<?php } ?>
</ul>
</dd>
</dl>
</div>
</div>

<div class="main">
<ul class="zs_nav">
<li class='cur'><a href="{:U('Home/Charts/index')}">出号综合分析</a></li>
<li><a href="{:U('Home/Charts/lhc1')}">六合特码走势</a></li>
<li><a href="{:U('Home/Charts/lhc2')}">特码生肖走势</a></li>
<li><a href="{:U('Home/Charts/lhc3')}">特码波色走势</a></li>
<li><a href="{:U('Home/Charts/lhc4')}">特码单双走势</a></li>
<li><a href="{:U('Home/Charts/lhc5')}">特码段位走势</a></li>
<li><a href="{:U('Home/Charts/lhc6')}">特码头数走势</a></li>
<li><a href="{:U('Home/Charts/lhc7')}">特码尾数走势</a></li>
<li><a href="{:U('Home/Charts/lhc8')}">特码五行走势</a></li>
</ul>


<TABLE class="zstable">
<tr style="background:#efefef;">
<td width="70" rowspan="2" class="bold">期数</td>
<td width="40" rowspan="2" class="bold">特码</td>
<td colspan="49">开奖号码综合分析：<font class="Red">圆形</font>为平码；<font class="Blue">方形</font>为特码。<font color="#999999">(预测本期特码：请点击相关的号码试试)</font></td>
</tr>
<tr style="background:#f9f9f9;">
<td>01</td>
<td>02</td>
<td>03</td>
<td>04</td>
<td>05</td>
<td>06</td>
<td>07</td>
<td>08</td>
<td>09</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
<td>17</td>
<td>18</td>
<td>19</td>
<td>20</td>
<td>21</td>
<td>22</td>
<td>23</td>
<td>24</td>
<td>25</td>
<td>26</td>
<td>27</td>
<td>28</td>
<td>29</td>
<td>30</td>
<td>31</td>
<td>32</td>
<td>33</td>
<td>34</td>
<td>35</td>
<td>36</td>
<td>37</td>
<td>38</td>
<td>39</td>
<td>40</td>
<td>41</td>
<td>42</td>
<td>43</td>
<td>44</td>
<td>45</td>
<td>46</td>
<td>47</td>
<td>48</td>
<td>49</td>
</tr>
<tr>
<td>出现次数</td>
<td> </td>
<td>{$counts[0]}</td>
<td>{$counts[1]}</td>
<td>{$counts[2]}</td>
<td>{$counts[3]}</td>
<td>{$counts[4]}</td>
<td>{$counts[5]}</td>
<td>{$counts[6]}</td>
<td>{$counts[7]}</td>
<td>{$counts[8]}</td>
<td>{$counts[9]}</td>
<td>{$counts[10]}</td>
<td>{$counts[11]}</td>
<td>{$counts[12]}</td>
<td>{$counts[13]}</td>
<td>{$counts[14]}</td>
<td>{$counts[15]}</td>
<td>{$counts[16]}</td>
<td>{$counts[17]}</td>
<td>{$counts[18]}</td>
<td>{$counts[19]}</td>
<td>{$counts[20]}</td>
<td>{$counts[21]}</td>
<td>{$counts[22]}</td>
<td>{$counts[23]}</td>
<td>{$counts[24]}</td>
<td>{$counts[25]}</td>
<td>{$counts[26]}</td>
<td>{$counts[27]}</td>
<td>{$counts[28]}</td>
<td>{$counts[29]}</td>
<td>{$counts[30]}</td>
<td>{$counts[31]}</td>
<td>{$counts[32]}</td>
<td>{$counts[33]}</td>
<td>{$counts[34]}</td>
<td>{$counts[35]}</td>
<td>{$counts[36]}</td>
<td>{$counts[37]}</td>
<td>{$counts[38]}</td>
<td>{$counts[39]}</td>
<td>{$counts[40]}</td>
<td>{$counts[41]}</td>
<td>{$counts[42]}</td>
<td>{$counts[43]}</td>
<td>{$counts[44]}</td>
<td>{$counts[45]}</td>
<td>{$counts[46]}</td>
<td>{$counts[47]}</td>
<td>{$counts[48]}</td>
<td>{$counts[49]}</td>
</tr>
<tr title="请点击号码选择">
<td class="bold" style="height:40px">预测本期</td>
<td></td>
<td class="cu hui" onClick="SelectNum(this,'RedX','1');">1</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','2');">2</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','3');">3</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','4');">4</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','5');">5</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','6');">6</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','7');">7</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','8');">8</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','9');">9</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','10');">10</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','11');">11</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','12');">12</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','13');">13</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','14');">14</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','15');">15</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','16');">16</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','17');">17</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','18');">18</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','19');">19</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','20');">20</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','21');">21</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','22');">22</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','23');">23</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','24');">24</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','25');">25</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','26');">26</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','27');">27</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','28');">28</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','29');">29</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','30');">30</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','31');">31</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','32');">32</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','33');">33</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','34');">34</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','35');">35</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','36');">36</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','37');">37</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','38');">38</td>

<td class="cu hui" onClick="SelectNum(this,'GreenX','39');">39</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','40');">40</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','41');">41</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','42');">42</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','43');">43</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','44');">44</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','45');">45</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','46');">46</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','47');">47</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','48');">48</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','49');">49</td>
</tr>
<foreach name="list" item="row">
<?php

$zong=array($row['tit1'],$row['tit2'],$row['tit3'],$row['tit4'],$row['tit5'],$row['tit6'],$row['tit7']);
sort($zong);

?>
<tr onMouseOut="this.style.backgroundColor=''" onMouseOver="this.style.backgroundColor='#ffffcc'">
<td><?=$row['times']?>/<?=$row['title']?></td>
<td style="background:#ffc;"><span class="<?=yx_no_band($row['tit7'],1)?> F"><?=$row['tit7']?></span></td>
<?php
for($i =1; $i <= 49; $i++){
if (in_array($i,$zong)=='1'){
$sums=$i;
$color=yx_no_band($i,2);
}else{
$sums="-";	
$color='hui_color';
}
?>
<td class="<?=$color?>"><?=$sums?></td>
<?php }?>
</tr>
</foreach>
<tr title="请点击号码选择">
<td class="bold" style="height:40px">预测本期</td>
<td></td>
<td class="cu hui" onClick="SelectNum(this,'RedX','1');">1</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','2');">2</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','3');">3</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','4');">4</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','5');">5</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','6');">6</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','7');">7</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','8');">8</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','9');">9</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','10');">10</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','11');">11</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','12');">12</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','13');">13</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','14');">14</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','15');">15</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','16');">16</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','17');">17</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','18');">18</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','19');">19</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','20');">20</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','21');">21</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','22');">22</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','23');">23</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','24');">24</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','25');">25</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','26');">26</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','27');">27</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','28');">28</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','29');">29</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','30');">30</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','31');">31</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','32');">32</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','33');">33</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','34');">34</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','35');">35</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','36');">36</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','37');">37</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','38');">38</td>

<td class="cu hui" onClick="SelectNum(this,'GreenX','39');">39</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','40');">40</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','41');">41</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','42');">42</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','43');">43</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','44');">44</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','45');">45</td>
<td class="cu hui" onClick="SelectNum(this,'RedX','46');">46</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','47');">47</td>
<td class="cu hui" onClick="SelectNum(this,'BlueX','48');">48</td>
<td class="cu hui" onClick="SelectNum(this,'GreenX','49');">49</td>
</tr>
<tr>
<td>出现次数</td>
<td> </td>
<td>{$counts[0]}</td>
<td>{$counts[1]}</td>
<td>{$counts[2]}</td>
<td>{$counts[3]}</td>
<td>{$counts[4]}</td>
<td>{$counts[5]}</td>
<td>{$counts[6]}</td>
<td>{$counts[7]}</td>
<td>{$counts[8]}</td>
<td>{$counts[9]}</td>
<td>{$counts[10]}</td>
<td>{$counts[11]}</td>
<td>{$counts[12]}</td>
<td>{$counts[13]}</td>
<td>{$counts[14]}</td>
<td>{$counts[15]}</td>
<td>{$counts[16]}</td>
<td>{$counts[17]}</td>
<td>{$counts[18]}</td>
<td>{$counts[19]}</td>
<td>{$counts[20]}</td>
<td>{$counts[21]}</td>
<td>{$counts[22]}</td>
<td>{$counts[23]}</td>
<td>{$counts[24]}</td>
<td>{$counts[25]}</td>
<td>{$counts[26]}</td>
<td>{$counts[27]}</td>
<td>{$counts[28]}</td>
<td>{$counts[29]}</td>
<td>{$counts[30]}</td>
<td>{$counts[31]}</td>
<td>{$counts[32]}</td>
<td>{$counts[33]}</td>
<td>{$counts[34]}</td>
<td>{$counts[35]}</td>
<td>{$counts[36]}</td>
<td>{$counts[37]}</td>
<td>{$counts[38]}</td>
<td>{$counts[39]}</td>
<td>{$counts[40]}</td>
<td>{$counts[41]}</td>
<td>{$counts[42]}</td>
<td>{$counts[43]}</td>
<td>{$counts[44]}</td>
<td>{$counts[45]}</td>
<td>{$counts[46]}</td>
<td>{$counts[47]}</td>
<td>{$counts[48]}</td>
<td>{$counts[49]}</td>
</tr>


<tr style="background:#f9f9f9;">
<td style="background:#efefef;" width="70" rowspan="2" class="bold">期数</td>
<td style="background:#efefef;" width="40" rowspan="2" class="bold">特码</td>
<td>01</td>
<td>02</td>
<td>03</td>
<td>04</td>
<td>05</td>
<td>06</td>
<td>07</td>
<td>08</td>
<td>09</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
<td>17</td>
<td>18</td>
<td>19</td>
<td>20</td>
<td>21</td>
<td>22</td>
<td>23</td>
<td>24</td>
<td>25</td>
<td>26</td>
<td>27</td>
<td>28</td>
<td>29</td>
<td>30</td>
<td>31</td>
<td>32</td>
<td>33</td>
<td>34</td>
<td>35</td>
<td>36</td>
<td>37</td>
<td>38</td>
<td>39</td>
<td>40</td>
<td>41</td>
<td>42</td>
<td>43</td>
<td>44</td>
<td>45</td>
<td>46</td>
<td>47</td>
<td>48</td>
<td>49</td>
</tr>

<tr style="background:#efefef;">
<td colspan="49">开奖号码综合分析：<font class="Red">圆形</font>为平码；<font class="Blue">方形</font>为特码。<font color="#999999">(预测本期特码：请点击相关的号码试试)</font></td>
</tr>
</table>
</div>

<div id="topbar" class="content clearfix">
<TABLE class="zstable">
<tr style="background:#efefef;">
<td width="70" rowspan="2" class="bold">期数</td>
<td width="40" rowspan="2" class="bold">特码</td>
<td colspan="49">开奖号码综合分析：<font class="Red">圆形</font>为平码；<font class="Blue">方形</font>为特码。<font color="#999999">(预测本期特码：请点击相关的号码试试)</font></td>
</tr>
<tr style="background:#f9f9f9;">
<td>01</td>
<td>02</td>
<td>03</td>
<td>04</td>
<td>05</td>
<td>06</td>
<td>07</td>
<td>08</td>
<td>09</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
<td>17</td>
<td>18</td>
<td>19</td>
<td>20</td>
<td>21</td>
<td>22</td>
<td>23</td>
<td>24</td>
<td>25</td>
<td>26</td>
<td>27</td>
<td>28</td>
<td>29</td>
<td>30</td>
<td>31</td>
<td>32</td>
<td>33</td>
<td>34</td>
<td>35</td>
<td>36</td>
<td>37</td>
<td>38</td>
<td>39</td>
<td>40</td>
<td>41</td>
<td>42</td>
<td>43</td>
<td>44</td>
<td>45</td>
<td>46</td>
<td>47</td>
<td>48</td>
<td>49</td>
</tr>
<tr id="disnum2"></tr>
<tr id="forecast2"></tr>
</TABLE>
</div>
<include file="Index:footer" />
		<script>
			var bgSelect = setInterval(function(){
				$(".Charts_nav").addClass("li_checked").siblings().removeClass("li_checked");
				if($(".Charts_nav").length != 0){
					clearInterval(bgSelect);
				}
			},200)
		</script>
</body>
</html>
<script src="{$Think.const.JS_URL}history.js" type="text/javascript"></script>