<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN" dir="ltr">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8">
<title>特码波色走势_<?=Cz_cig('site_name')?></title>
<meta name="keywords" content="特码波色走势" />
<meta name="description" content="特码波色走势_<?=Cz_cig('site_name')?>" />
<link href="{$Think.const.CSS_URL}list.css" rel="stylesheet" type="text/css" />
<link href="{$Think.const.CSS_URL}self.css" rel="stylesheet" type="text/css" />
<link href="{$Think.const.CSS_URL}zoushi.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]><script src="{$Think.const.JS_URL}html5.js" type="text/javascript"></script><![endif]-->
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="{$Think.const.JS_URL}superslide.js" type="text/javascript"></script>
<script language="javascript" src="{$Think.const.JS_URL}zst.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<include file="Index:header" />
<div class="menu">
<div class="inner main">
<dl>
<dt>选择<br />年份</dt>
<dd>
<ul>
<?php  for($i =1976; $i <= $dates; $i++) { ?>
<li><a href="{:U('Home/Charts/lhc3')}?id=<?=$i?>"><?=$i?></a></li>
<?php } ?>
</ul>
</dd>
</dl>
</div>
</div>

<div class="main">
<ul class="zs_nav">
<li><a href="{:U('Home/Charts/index')}">出号综合分析</a></li>
<li><a href="{:U('Home/Charts/lhc1')}">六合特码走势</a></li>
<li><a href="{:U('Home/Charts/lhc2')}">特码生肖走势</a></li>
<li class='cur'><a href="{:U('Home/Charts/lhc3')}">特码波色走势</a></li>
<li><a href="{:U('Home/Charts/lhc4')}">特码单双走势</a></li>
<li><a href="{:U('Home/Charts/lhc5')}">特码段位走势</a></li>
<li><a href="{:U('Home/Charts/lhc6')}">特码头数走势</a></li>
<li><a href="{:U('Home/Charts/lhc7')}">特码尾数走势</a></li>
<li><a href="{:U('Home/Charts/lhc8')}">特码五行走势</a></li>
</ul>

<TABLE class="zstable">
<tr style="background:#efefef;">
<td width="70" rowspan="2">期数</td>
<td width="40" rowspan="2">特码</td>
<td width="40" rowspan="2">特肖</td>
<td colspan="3">波色走势</td>
<td colspan="6">半波走势</td>
</tr>
<tr style="background:#f9f9f9;">
<td width="126">紅</td>
<td width="126">藍</td>
<td width="126">綠</td>
<td width="76">紅单</td>
<td width="76">藍单</td>
<td width="76">綠单</td>
<td width="76">紅双</td>
<td width="76">藍双</td>
<td width="76">綠双</td>

</tr>
<tr style="background:#ffc;" class="red bold">
<td>出现次数</td>
<td> </td>
<td></td>
<td>{$counts[0]} 次</td>
<td>{$counts[1]} 次</td>
<td>{$counts[2]} 次</td>
<td>{$counts[3]} 次</td>
<td>{$counts[4]} 次</td>
<td>{$counts[5]} 次</td>
<td>{$counts[6]} 次</td>
<td>{$counts[7]} 次</td>
<td>{$counts[8]} 次</td>
</tr>
<tr>
<td class="bold" style="height:40px">预测本期</td>
<td colspan="2"><font style="font-weight:normal; color:#999999">(请点击波色)</font></td>
<td class="cu" onClick="SelectNum(this,'Red','紅');">紅</td>
<td class="cu" onClick="SelectNum(this,'Blue','藍');">藍</td>
<td class="cu" onClick="SelectNum(this,'Green','綠');">綠</td>
<td class="white enfont cu" onClick="SelectNum(this,'Red','单');">紅单</td>
<td class="white enfont cu" onClick="SelectNum(this,'Blue','单');">藍单</td>
<td class="white enfont cu" onClick="SelectNum(this,'Green','单');">綠单</td>
<td class="white enfont cu" onClick="SelectNum(this,'Red','双');">紅双</td>
<td class="white enfont cu" onClick="SelectNum(this,'Blue','双');">藍双</td>
<td class="white enfont cu" onClick="SelectNum(this,'Green','双');">綠双</td>

</tr>
<foreach name="list" item="row">
<tr onMouseOut="this.style.backgroundColor=''" onMouseOver="this.style.backgroundColor='#ffffcc'">
<td><?=$row['times']?>/<?=$row['title']?></td>
<td style="background:#ffc;"><span class="<?=yx_no_band($row['tit7'],1)?> F"><?=$row['tit7']?></span></td>
<td class="Blue"><?php if($row['tit7'] % 2==1){echo "单";}else{echo "双";}?></td>
<?php  if($row['bands']=='紅'){?><td class="<?=yx_no_band($row['tit7'],4)?>">紅</td><?php }else{?><td class="hui_color">-</td><?php } ?>
<?php  if($row['bands']=='藍'){?><td class="<?=yx_no_band($row['tit7'],4)?>">藍</td><?php }else{?><td class="hui_color">-</td><?php } ?>
<?php  if($row['bands']=='綠'){?><td class="<?=yx_no_band($row['tit7'],4)?>">綠</td><?php }else{?><td class="hui_color">-</td><?php } ?>
<?php  if($row['bands']=='紅' and $row['tit7'] % 2==1){?><td class="<?=yx_no_band($row['tit7'],4)?>">单</td><?php }else{?><td class="hui_color">-</td><?php } ?>
<?php  if($row['bands']=='藍' and $row['tit7'] % 2==1){?><td class="<?=yx_no_band($row['tit7'],4)?>">单</td><?php }else{?><td class="hui_color">-</td><?php } ?>
<?php  if($row['bands']=='綠' and $row['tit7'] % 2==1){?><td class="<?=yx_no_band($row['tit7'],4)?>">单</td><?php }else{?><td class="hui_color">-</td><?php } ?>
<?php  if($row['bands']=='紅' and $row['tit7'] % 2==0){?><td class="<?=yx_no_band($row['tit7'],4)?>">双</td><?php }else{?><td class="hui_color">-</td><?php } ?>
<?php  if($row['bands']=='藍' and $row['tit7'] % 2==0){?><td class="<?=yx_no_band($row['tit7'],4)?>">双</td><?php }else{?><td class="hui_color">-</td><?php } ?>
<?php  if($row['bands']=='綠' and $row['tit7'] % 2==0){?><td class="<?=yx_no_band($row['tit7'],4)?>">双</td><?php }else{?><td class="hui_color">-</td><?php } ?>



</tr>
</foreach>
<tr id="forecast">
<td class="bold" style="height:40px">预测本期</td>
<td colspan="2"><font style="font-weight:normal; color:#999999">(请点击波色)</font></td>
<td class="cu" onClick="SelectNum(this,'Red','紅');">紅</td>
<td class="cu" onClick="SelectNum(this,'Blue','藍');">藍</td>
<td class="cu" onClick="SelectNum(this,'Green','綠');">綠</td>
<td class="white enfont cu" onClick="SelectNum(this,'Red','单');">紅单</td>
<td class="white enfont cu" onClick="SelectNum(this,'Blue','单');">藍单</td>
<td class="white enfont cu" onClick="SelectNum(this,'Green','单');">綠单</td>
<td class="white enfont cu" onClick="SelectNum(this,'Red','双');">紅双</td>
<td class="white enfont cu" onClick="SelectNum(this,'Blue','双');">藍双</td>
<td class="white enfont cu" onClick="SelectNum(this,'Green','双');">綠双</td>
</tr>
<tr id="disnum" style="background:#ffc;" class="red bold">
<td>出现次数</td>
<td> </td>
<td></td>
<td>{$counts[0]} 次</td>
<td>{$counts[1]} 次</td>
<td>{$counts[2]} 次</td>
<td>{$counts[3]} 次</td>
<td>{$counts[4]} 次</td>
<td>{$counts[5]} 次</td>
<td>{$counts[6]} 次</td>
<td>{$counts[7]} 次</td>
<td>{$counts[8]} 次</td>
</tr>
<tr style="background:#f9f9f9; height:38px; font-weight:bold;" align=middle>
<td width="70" rowspan="2" style="background:#efefef;">期数</td>
<td width="40" rowspan="2" style="background:#efefef;">特码</td>
<td width="40" rowspan="2" style="background:#efefef;">特肖</td>
<td width="126">紅</td>
<td width="126">藍</td>
<td width="126">綠</td>
<td width="76">紅单</td>
<td width="76">藍单</td>
<td width="76">綠单</td>
<td width="76">紅双</td>
<td width="76">藍双</td>
<td width="76">綠双</td>
</tr>
<tr style="background:#efefef;">
<td colspan="3">波色走势</td>
<td colspan="6">半波走势</td>
</tr>
</table>
</div>

<div id="topbar" class="content clearfix">
<TABLE class="zstable">
<tr style="background:#efefef;">
<td width="70" rowspan="2">期数</td>
<td width="40" rowspan="2">特码</td>
<td width="40" rowspan="2">特肖</td>
<td colspan="3">波色走势</td>
<td colspan="6">半波走势</td>
</tr>
<tr style="background:#f9f9f9;">
<td width="126">紅</td>
<td width="126">藍</td>
<td width="126">綠</td>
<td width="76">紅单</td>
<td width="76">藍单</td>
<td width="76">綠单</td>
<td width="76">紅双</td>
<td width="76">藍双</td>
<td width="76">綠双</td>
</tr>
<tr id="disnum2" style="background:#ffc;" class="red bold"></tr>
<tr id="forecast2"></tr>
</TABLE>
</div>
<include file="Index:footer" />
		<script>
			var bgSelect = setInterval(function(){
				$(".Charts_nav").addClass("li_checked").siblings().removeClass("li_checked");
				if($(".Charts_nav").length != 0){
					clearInterval(bgSelect);
				}
			},200)
		</script>
</body>
</html>
<script src="{$Think.const.JS_URL}history.js" type="text/javascript"></script>