@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{ padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; margin:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ display:block;}
ol, ul{ list-style:none;}
blockquote, q{ quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{ content:''; content:none;}
table{ border-collapse:collapse; border-spacing:0;}
h1, h2, h3, h4, h5, h6{ font-weight:normal;}
img{ -ms-interpolation-mode:bicubic; image-rendering:optimizeQuality;}
body{ background:#eee; line-height:1.14; font-family:"宋体", Verdana, Geneva, sans-serif; font-size:12px; color:#333; _behavior:url(images/csshover.htc);}
a{ color:#000; text-decoration:none; outline:none;}
a:hover{ color:#0e8a7a;}
b, i, strong, em{ font-style:normal;}
h1, h2, h3{ font-family:"微软雅黑";}
h3, h4{ font-size:14px;}
h2 a{ color:#333;}
input{ font-size:12px;}

.fleft{ float:left;}
.fright{ float:right;}
.clearfloat{ height:0; line-height:0; font-size:1px; clear:both;}
.clearfix:after{ visibility:hidden; display:block; height:0; content:" "; font-size:0; clear:both;}
*html .clearfix{ zoom:1;}
*:first-child+html .clearfix { zoom:1;}
.main{ width:1000px; overflow:hidden; margin:0 auto;}
.padding-b1{ padding-bottom:1px;}
.tcenter{ text-align:center;}
.tright{ text-align:right;}
.bg-red{ background:#f00;}
.bg-red2{ background:#8e060f}
.bg-red3{ background:#a200ff}
.bg-green{ background:#090;}
.bg-green2{ background:#35aa02;}
.bg-green3{ background:#028662;}
.bg-blue{ background:#00f;}
.bg-blue2{ background:#0060ff;}
.bg-yellow{ background:#835d01;}
.credit{ display:inline-block; height:16px; background:transparent url(images/credit.gif) repeat-x}
.credit1{ width:18px;}
.credit2{ width:36px;}
.credit3{ width:54px;}
.credit4{ width:72px;}
.credit5{ width:90px;}

.header, .menu, .searchbar, .highterm, .content, .footer{ min-width:1000px;}
.header .mainnav li.max,
.header .mainnav li.max h3{ background:transparent url(images/kj-bg.png) no-repeat;}

.header{ border-bottom:5px solid #0e8a7a; background:#fff;}
.header .inner{ padding:6px 0;}
.header .branding{ width:348px; height:48px;}
.header .branding .logo{ display:block; width:180px; height:48px; background:transparent url(images/kj-logo.png) no-repeat; text-indent:-9999px;}
.header .branding .logo-m{ display:block; width:125px; height:48px; background:transparent url(images/kj-logo-m.gif) no-repeat; margin-left:10px}
.header .mainnav{ width:652px; height:48px; line-height:48px;}
.header .mainnav li{ float:right; width:96px; text-align:center;}
.header .mainnav li.min{ width:64px;}
.header .mainnav li.mid{ width:80px;}
.header .mainnav li.max{ width:110px; padding-left:1px; background-position:-999px -48px; text-align:right;}
.header .mainnav li.max h3{ padding-left:30px; background-position:-975px -98px;}
.header .mainnav li.on h3 a{ color:#f60;}
.nav{ width:652px; height:48px; position:absolute; z-index:100;}
.nav .nLi{ position:relative;}
.nav .nLi h3{ font-size:16px;}
.nav .sub{ display:none; width:190px; padding-top:12px; font-family:Arial; position:absolute; top:32px; left:-47px; _z-index:-1;}
.nav .sub .arrow{ width:0; height:0; border-width:6px; border-style:solid; border-color:transparent transparent #0e8a7a; _border-color:#eeeeee #eeeeee #ff7800; _filter:chroma(color=#eeeeee); _overflow:hidden; position:absolute; top:0; left:89px;}
.nav .sub ul{ width:180px; padding:5px 0; padding-left:10px; border-top:3px solid #0e8a7a; background:#fff; overflow:hidden; position:relative;}
.nav .sub li{ float:left; width:50px; padding-right:10px; line-height:25px; zoom:1; _overflow:hidden;}
.nav .sub li a{ padding:3px 5px}
.nav .sub li a:hover{ background: #FF6600; color:#FFFFFF;  padding:3px 5px}
.nav .sub.sub2{ width:110px; left:-15px;}
.nav .sub.sub2 .arrow{ left:49px;}
.nav .sub.sub2 ul{ width:95px;}
.nav .sub.sub2 ul li{ float:none; width:85px; }

.footer{ background:#3d3d3d;}
.footer .inner{ padding:8px 0; color:#ccc;}
.footer a{ color:#eee;}
.footer a:hover{ color:#fff;}
.footer ul{ padding-bottom:15px;}
.footer li{ float:left; padding-right:10px; white-space:nowrap;}
.footer li.contact{ float:right;}
.footer .copyright{ font-family:Arial; line-height:18px;}
.footer .copyright a{ color:#ccc;}



.searchbar{ background:#dcdcdc;}
.searchbar .inner{ padding:10px 0;  _position:relative;}
.searchbar li{ width:100%; overflow:hidden;}
.searchbar li.search{ height:41px; line-height:39px;}
.searchbar li.search label{ float:left; font-size:24px; padding-left:2em;}
.searchbar li.search input{ float:left;}
.searchbar input[type="text"]{ width:576px; height:19px; padding:8px 0 8px 28px; border:2px solid #0e8a7a; background-color:#fff; background:#fff url(kj-bg.png) no-repeat -977px -154px; line-height:19px; font-size:14px; margin:0 14px;}
.searchbar input[type="submit"],
.searchbar input[type="button"]{ height:39px; font-size:18px; color:#fff; cursor:pointer; -webkit-box-shadow:0 1px 1px #555; -moz-box-shadow:0 1px 1px #555; box-shadow:0 1px 1px #555; behavior:url(images/PIE.htc); position:relative;}
.searchbar input[type="submit"]{ width:80px; background:#0e8a7a; margin-right:8px;}
.searchbar input[type="button"]{ width:130px; background:#ff7800;}
*html .searchbar .txt{ width:576px; height:19px; padding:8px 0 8px 28px; border:2px solid #0e8a7a; background:#fff url(images/kj-bg.png) no-repeat -977px -154px; line-height:19px; font-size:14px; margin:0 14px;}
*html .searchbar .btn1,
*html .searchbar .btn2{ height:39px;  font-size:18px; color:#fff; cursor:pointer; box-shadow:0 2px 2px #333; behavior:url(PIE.htc); position:absolute;}
*html .searchbar .btn1{ width:80px; background:#0e8a7a; margin-right:8px;}
*html .searchbar .btn2{ width:130px; background:#ff7800; right:2px;}
.searchbar li.term{ height:25px; padding-left:158px; line-height:25px; color:#666;}
.searchbar li.term input{ vertical-align:middle; margin-top:-3px;}

.highterm{}
.highterm .inner{ font-family:"微软雅黑"; background:#fff; background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#e1e1e1)); background:-webkit-linear-gradient(#ffffff, #e1e1e1); background:-moz-linear-gradient(#ffffff, #e1e1e1); background:-ms-linear-gradient(#ffffff, #e1e1e1); background:-o-linear-gradient(#ffffff, #e1e1e1); background:linear-gradient(#ffffff, #e1e1e1); -pie-background:linear-gradient(#ffffff, #e1e1e1); behavior:url(PIE.htc); position:relative;}
.highterm h2{ height:23px; padding:23px 0 10px 50px; background:transparent url(search.gif) no-repeat 10px 10px; font-size:21px; font-weight:bold; color:#0e8a7a; letter-spacing:2px;}
.highterm h2 small{ padding-left:10px; font-family:Arial; font-weight:normal; font-size:12px; color:#999; letter-spacing:normal;}
.highterm ul{ padding:12px 0 5px; border-top:1px dashed #ccc; margin:0 10px;}
.highterm li{ padding-bottom:10px;}
.highterm li i{ font-size:14px; color:#FF0000; font-family:"微软雅黑"; padding-left:10px; font-style:oblique}
.highterm li label{ padding-left:10px; font-size:15px;}
.highterm li select{ width:79px; height:22px; border:1px solid #7f9db9; vertical-align:middle;}
.highterm li.max select{ margin-bottom:5px;}
.highterm li input.txt{ width:77px; height:20px; border:1px solid #7f9db9; line-height:20px; vertical-align:middle;}
.highterm li input.btn3,
.highterm li input.btn4{ width:100px; height:39px; font-family:"微软雅黑"; font-size:18px; color:#fff; cursor:pointer; margin-top:5px; -webkit-box-shadow:0 1px 1px #333; -moz-box-shadow:0 1px 1px #333; box-shadow:0 1px 1px #333; behavior:url(PIE.htc); position:relative;}
.highterm li input.btn3{ background:#0e8a7a; margin-right:10px;}
.highterm li input.btn4{ background:#ff7800;}
.highterm li a,
.pagesize{ font-size:15px; font-family:"微软雅黑"}
.pagesize em{ color:#666666}
.pagesize em a{ color:#0000FF}
.pagesize em a:hover{ color: #FF0000; text-decoration:underline}

.menu{padding:3px 0; background:#dcdcdc; border-bottom:1px #ccc solid;}
.menu .inner{ background: #0e8a7a;}
.menu dl{ height:80px; padding:3px 3px 3px 0;}
.menu dt{ float:left; width:120px; height:80px; color:#FFFFFF; text-align:center; font-size:32px; padding-top:2px; font-weight:bold;font-family:"微软雅黑"; letter-spacing:8px}
.menu dd{ float:left; width:870px; height:80px; background:url(images/lottery.png) no-repeat left center #FFFFFF; padding-left:7px}
.menu li{ float:left; width:57px; height:20px; padding:5px 0px 0px 5px; text-align:center; font-family:Arial;}
.menu li a{ display:block; width:57px; height:20px; background:#f5f5f5; line-height:20px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; behavior:url(PIE.htc); position:relative;}
.menu li a.hl,
.menu li a:hover{ background:#ff7800; color:#fff;}
.menu li a.on{ background:#ff8700; color:#FFFFFF}

.content{ padding-top:10px; position:relative;}
.infos{}
.infos .inner{ background:#fff;}
.infos .title{ padding:10px; height:21px; border-width:1px 1px 0; border-style:solid; border-color:#d3d3d3; background:transparent url(bg-banner2.gif) repeat;}
.infos .title dl{ float:left; width:978px; height:21px; overflow:hidden;}
.infos .title dt{ float:left;}
.infos .title dt h2{ font-size:18px;}
.infos .title dd{}
.infos .title dd.left{ float:left; height:14px; padding-top:7px; padding-left:20px;}
.infos .title dd.left a{ color:#999;}
.infos .title dd.left label{ font-weight:bold; color:#f60;}
.infos .title dd.left input{ vertical-align:middle; margin-top:-3px;}
.infos .title dd.right{ float:right;}
.infos .title dd.right2{ float:right;height:14px;padding-top:7px;}
.infos .title dd.right2 a{ font-weight:bold; color:#00f;}
.infos .title dd.right2 a:hover{ color:#0e8a7a;}
.infos .title dd.right .sokey{background:#FFFFFF; width:160px; line-height:19px; height:19px; border:1px solid #FF6600; vertical-align:middle; color: #999999; padding-left:3px}
.infos .title dd.right .sonav{ background:#FF6600; color:#FFFFFF; height:21px;vertical-align:middle; padding:0 8px; cursor:pointer}
.infos .bd{ overflow:hidden;}
.infos table{ width:1000px; text-align:center; font-weight:bold;}
.infos table th,
.infos table td{ border:1px solid #d3d3d3; font-family:Arial; cursor:default;}
.infos table th{ width:30px; height:39px; background:#efefef; line-height:39px;}
.infos table td{ padding:5px 0; vertical-align:middle;}
.infos table td.no{ font-weight:normal;}
.infos table .min{ width:47px;}
.infos table .mid{ width:80px;}
.infos table .max{ width:186px;}
.infos table .mini{ width:36px;}
.infos table .mar{ width:70px;}
.infos table .bg-high1{ background:#ff9;}
.infos table .bg-high2{ background:#ffc;}
.infos table .sortSize{ display:none;}
.infos table .sortDown,
.infos table .sortSize{ padding:0 3px;}
.infos table .p{ float:left; width:24px; border:1px solid #e3e3e3; margin:0 2px;}
.infos table .bg-high2 .p{ float:none; margin:0 5px;}
.infos table .hm{ padding:3px 0; font-family:Tahoma; font-size:14px;}
.infos table .sx{ padding:3px 0; background:#fff; color:#666; font-weight:normal;}
.infos table .danClass{ color:#f0f;}
.infos table .shuangClass{ color:#004080;}
.infos table .daClass{ color:#f0f;}
.infos table .xiaoClass{ color:#004080;}
.infos table .redBoClass{ background:#f00; color:#fff;}
.infos table .blueBoClass{ background:#00f; color:#fff;}
.infos table .greenBoClass{ background:#008000; color:#fff;}
.infos table .infos table .redClass{ color:#f00;}
.infos table .infos table .blueClass{ color:#00f;}
.infos table .redClass{ color:#f00;}
.infos table .blueClass{ color:#00f;}
.infos table .greenClass{ color:#008000;}
.infos table .wuxingjinClass{ color:#f39700;}
.infos table .wuxingmuClass{ color:#008000;}
.infos table .wuxingshuiClass{ color:#999;}
.infos table .wuxinghuoClass{ color:#f00;}
.infos table .wuxingtuClass{ color:#6a3905;}
.infos table .tou0Class{ color:#f39700;}
.infos table .tou1Class{ color:#008000;}
.infos table .tou2Class{ color:#999;}
.infos table .tou3Class{ color:#f00;}
.infos table .tou4Class{ color:#6a3905;}
.infos table .menshu1Class{ color:#008000;}
.infos table .menshu2Class{ color:#999;}
.infos table .menshu3Class{ color:#009e96;}
.infos table .menshu4Class{ color:#7d0022;}
.infos table .menshu5Class{ color:#f39700;}
.infos table .jiaClass{ color:#09f;}
.infos table .yeClass{ color:#906;}
.infos table .weishu0Class{ color:#999;}
.infos table .weishu1Class{ color:#6a3905;}
.infos table .weishu2Class{ color:#009e96;}
.infos table .weishu3Class{ color:#f39700;}
.infos table .yinClass{ color:#999;}
.infos table .yangClass{ color:#333;}
.infos table .tianClass{ color:#00469d;}
.infos table .diClass{ color:#7d0022;}
.infos table .jiClass{ color:#e60011;}
.infos table .xiongClass{ color:#009e96;}
.infos table .heiClass{ color:#000;}
.infos table .baiClass{ color:#999;}
.infos table .redSeXiaoClass{ color:#f00;}
.infos table .blueSeXiaoClass{ color:#00f;}
.infos table .greenSeXiaoClass{ color:#008000;}
.infos table .danBiClass{ color:#f0f;}
.infos table .shuangBiClass{ color:#00469d;}
.infos table .duanwei1Class{ color:#999;}
.infos table .duanwei2Class{ color:#009e96;}
.infos table .duanwei3Class{ color:#f39700;}
.infos table .duanwei4Class{ color:#00469d;}
.infos table .duanwei5Class{ color:#920683;}
.infos table .duanwei6Class{ color:#009944;}
.infos table .duanwei7Class{ color:#6a3905;}
.infos table .nanClass{ color:#06f;}
.infos table .nvClass{ color:#f0f;}
.infos .bottom{ padding:10px 3px 5px;}
.infos .bottom li{ float:left; width:108px; text-align:center;}
.infos .bottom li a{ color:#f60;}
.infos .bottom li a:hover{ color:#0e8a7a;}

/*.dialog{ display:none; width:116px; height:122px; position:absolute; z-index:99;}
.dialog p{ width:100px; height:90px; padding:24px 8px 8px; line-height:18px; text-align:left; color:#fff; position:absolute; z-index:2;}
.dialog .dialogbg{ width:116px; height:102px; background:#000; position:absolute; top:16px; z-index:1;}
.dialog .arrow{ width:0; height:0; border-width:8px; border-style:solid; border-color:transparent transparent #000; _border-color:#eeeeee #eeeeee #000000; _filter:chroma(color=#eeeeee); _overflow:hidden; position:relative; top:0; left:50px; z-index:3;}*/
.dialog{ display:none; width:108px; height:100px; position:absolute; z-index:99;}
.dialog p{ width:98px; height:100px; padding:5px; line-height:18px; text-align:left; color:#333; position:absolute; z-index:2;}
.dialog .dialogbg{ width:108px; height:100px;  background:transparent url(images/kj-bg.png) no-repeat 0 -97px; z-index:1;}

.pages{ line-height:25px; font-family:"微软雅黑"}
.pages .total span{ background:#999999; color:#FFFFFF; padding:2px 10px; margin-right:3px}


#topbar{ display:none; width:100%; padding-top:0; position:fixed; top:0; _position:absolute; _top:expression(eval(document.documentElement.scrollTop));}

.zstable{ width:980px; background:#fff; margin:0 auto;}
.zstable th,
.zstable td{ border:1px solid #ddd; font-family:Arial; cursor:default;}
.zstable td{ height:32px; text-align:center; vertical-align:middle;}