<include file='index:header' />
		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">

<include file='index:left' />
			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">

                        <!--主题-->
						<div class="page-header">
							<h1>
								您当前操作
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									手机访问跳转开关
								</small>
							</h1>
						</div>
						<div class="row">
							<div class="col-xs-12">
						<div class="col-xs-12 col-sm-12 rule-top alert alert-info top10">
						<button type="button" class="close" data-dismiss="alert">
							<i class="ace-icon fa fa-times"></i>
						</button>
						手机访问主域名是否跳转到手机版
						</div>
						<a class="btn btn-success" href="{:U('Sys/plug_wap_edit','plug_wap_id=1')}">手机版跳转设置</a>
                        	</div>
                        </div>

<include file='index:header_nav' />

					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

		</div><!-- /.main-container -->
<include file='index:footer' />		

		</div><!-- /.main-container -->
	</body>
</html>