<div class="con" style="margin-top:5px;">
<h2 class="listT1">
<a target="_blank" href="/Source/kj/2017/sx.html">
<span>
号码属性对照
</span>
2017鸡年（十二生肖号码对照）
</a>
</h2>
<ul class="sxdz">
<li>
<span class="sx">
鼠
<img align="absMiddle" src="./Index/Public/img/88111_files/1_01.png">
[冲 马]
</span>
<br>


<span class="bg_blue">&nbsp;10&nbsp;</span>&nbsp;
<span class="bg_green">&nbsp;22&nbsp;</span>&nbsp;
<span class="bg_red">&nbsp;34&nbsp;</span>&nbsp;
<span class="bg_red">&nbsp;46&nbsp;</span>
</li>
<li>
<span class="sx">
牛
<img align="absMiddle" src="./Index/Public/img/88111_files/1_02.png">
[冲 羊]
</span>
<br>
<span class="bg_blue">&nbsp;09&nbsp;</span>&nbsp;
<span class="bg_green">&nbsp;21&nbsp;</span>&nbsp;
<span class="bg_green">&nbsp;33&nbsp;</span>&nbsp;
<span class="bg_red">&nbsp;45&nbsp;</span>

</li>
<li>
<span class="sx">
虎
<img align="absMiddle" src="./Index/Public/img/88111_files/1_05.png">
[冲 猴]
</span>
<br>
<span class="bg_red">&nbsp;08&nbsp;</span>&nbsp;
<span class="bg_blue">&nbsp;20&nbsp;</span>&nbsp;
<span class="bg_green">&nbsp;32&nbsp;</span>&nbsp;
<span class="bg_green">&nbsp;44&nbsp;</span>

</li>
<li style="width:19%">
<span class="sx">
兔
<img align="absMiddle" src="./Index/Public/img/88111_files/1_06.png">
[冲 鸡]
</span>
<br>

<span class="bg_red">&nbsp;07&nbsp;</span>&nbsp;
<span class="bg_red">&nbsp;19&nbsp;</span>&nbsp;
<span class="bg_blue">&nbsp;31&nbsp;</span>&nbsp;
<span class="bg_green">&nbsp;43&nbsp;</span>

</li>
<li>
<span class="sx">
龙
<img align="absMiddle" src="./Index/Public/img/88111_files/1_07.png">
[冲 狗]
</span>
<br>

<span class="bg_green">&nbsp;06&nbsp;</span>&nbsp;
<span class="bg_red">&nbsp;18&nbsp;</span>&nbsp;
<span class="bg_red">&nbsp;30&nbsp;</span>&nbsp;
<span class="bg_blue">&nbsp;42&nbsp;</span>


</li>
<li>
<span class="sx">
蛇
<img align="absMiddle" src="./Index/Public/img/88111_files/1_08.png">
[冲 猪]
</span>
<br>
<span class="bg_green">&nbsp;05&nbsp;</span>&nbsp;
<span class="bg_green">&nbsp;17&nbsp;</span>&nbsp;
<span class="bg_red">&nbsp;29&nbsp;</span>&nbsp;
<span class="bg_blue">&nbsp;41&nbsp;</span>


</li>
</ul>
<ul class="sxdz" style="border-top: 1px #ddd dashed;">
<li>
<span class="sx">
马
<img align="absMiddle" src="./Index/Public/img/88111_files/1_09.png">
[冲 鼠]
</span>
<br>
<span class="bg_blue">&nbsp;04&nbsp;</span>&nbsp;
<span class="bg_green">&nbsp;16&nbsp;</span>&nbsp;
<span class="bg_green">&nbsp;28&nbsp;</span>&nbsp;
<span class="bg_red">&nbsp;40&nbsp;</span>

</li>
<li>
<span class="sx">
羊
<img align="absMiddle" src="./Index/Public/img/88111_files/1_10.png">
[冲 牛]
</span>
<br>

<span class="bg_blue">&nbsp;03&nbsp;</span>&nbsp;
<span class="bg_blue">&nbsp;15&nbsp;</span>&nbsp;
<span class="bg_green">&nbsp;27&nbsp;</span>&nbsp;
<span class="bg_green">&nbsp;39&nbsp;</span>


</li>
<li>
<span class="sx">
猴
<img align="absMiddle" src="./Index/Public/img/88111_files/1_11.png">
[冲 虎]
</span>
<br>
<span class="bg_red">&nbsp;02&nbsp;</span>&nbsp;
<span class="bg_blue">&nbsp;14&nbsp;</span>&nbsp;
<span class="bg_blue">&nbsp;26&nbsp;</span>&nbsp;
<span class="bg_green">&nbsp;38&nbsp;</span>&nbsp;


</li>
<li style="width:19%">
<span class="sx">
鸡
<img align="absMiddle" src="./Index/Public/img/88111_files/1_12.png">
[冲 兔]
</span>
<br>
<span class="bg_red">&nbsp;01&nbsp;</span>&nbsp;
<span class="bg_red">&nbsp;13&nbsp;</span>&nbsp;
<span class="bg_blue">&nbsp;25&nbsp;</span>&nbsp;
<span class="bg_blue">&nbsp;37&nbsp;</span>
<span class="bg_green">&nbsp;49&nbsp;</span>

</li>
<li>
<span class="sx">
狗
<img align="absMiddle" src="./Index/Public/img/88111_files/1_03.png" width="52" height="50">
[冲 龙]
</span>
<br>

<span class="bg_red">&nbsp;12&nbsp;</span>&nbsp;
<span class="bg_red">&nbsp;24&nbsp;</span>&nbsp;
<span class="bg_blue">&nbsp;36&nbsp;</span>&nbsp;
<span class="bg_blue">&nbsp;48&nbsp;</span>


</li>
<li>
<span class="sx">
猪
<img align="absMiddle" src="./Index/Public/img/88111_files/1_04.png" width="52" height="50">
[冲 蛇]
</span>
<br>
<span class="bg_green">&nbsp;11&nbsp;</span>&nbsp;
<span class="bg_red">&nbsp;23&nbsp;</span>&nbsp;
<span class="bg_red">&nbsp;35&nbsp;</span>&nbsp;
<span class="bg_blue">&nbsp;47&nbsp;</span>

</li>
</ul>
</div>