<include file='index:header' />
<link href="{$Think.const.CSS_URL}common.css" rel="stylesheet" type="text/css"/>
<link href="{$Think.const.CZEDITOR}themes/default/default.css" rel="stylesheet" type="text/css" />
		<div class="main-container" id="main-container">


<include file='index:left' />

			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">
					
						<div class="page-header">
							<h1>
								您当前操作
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									修改网址栏目
								</small>
							</h1>
						</div>							

							<div class="row">
							    <div class="col-xs-12">
										<div>
<div class="formbody">										
<div id="msg">
<input type="hidden" id="id"     value="{$info.id}"/>
<input type="hidden" id="PartID" value="{$info.partid}"/>
<table cellspacing="1" cellpadding="0" class="page_table">
<tr>
<td height="35" align="right" class="td_left">栏目名称：</td>
<td align="left"><input type="text" id="title" class="biankuan" value="{$info.title}"></td>
</tr>

<tr>
<td height="35" align="right" class="td_left">排序：</td>
<td align="left"><input type="text" id="sorting" value="{$info.sorting}" class="biankuan"  onKeyPress="return regInput(this,/^[0-9]*$/, String.fromCharCode(event.keyCode))"> </td>
</tr>
<tr>
<td height="35" align="right">&nbsp;</td>
<td align="left">
<input type="button" value="提交" class="tijiao_input" onClick="Get_edit_Save()"/>
</td>
</tr>
</table>
</div>
<div>
							    		</div>
									</div>
								</div>

<include file='index:header_nav' />

					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
</div>			
<include file='index:footer' />		
</div>
<script src="{$Think.const.JS_URL}jquery.min.js"></script>
<script>
//==========设置几秒跳转
var i = 2; 
var intervalid; 
function TiaoSecond(Yoyo){ 
if (i ==0) { 
window.location.href =Yoyo; 
clearInterval(intervalid); 
} 
document.getElementById("mes").innerHTML = i; 
i--; 
} 	
//==========设置几秒结束


//=======================获取数据
function Get_edit_Save(){
var id=$("#id").attr("value");
var title =$("#title").attr("value");
var sorting=$("#sorting").attr("value");
var PartID=$("#PartID").attr("value");
jQuery.ajax({
url: "__CONTROLLER__/index_class_edit_save.html",
dataType:"json",
type:"POST",
data:{title:title,id:id,sorting:sorting,PartID:PartID},
beforeSend: function(XHR){
$('#msg').html('<center><br><br><img alt="正在加载中..." src="{$Think.const.IMG_URL}Loading/load1.gif" ></center>');	
},
success:function(data) {
$("#msg").html(data.msg)
intervalid =setInterval("TiaoSecond('__CONTROLLER__/index_class.html?Id="+data.url+"')",1000);
}
});

}
</script>
	</body>
</html>	