<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN" dir="ltr">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8">
<title>彩色图库 - 马经历史图库这里是香港六合彩图库大全_<?=Cz_cig('site_name')?></title>
<meta name="keywords" content="117kj图库,117kj,马经,曾道人,福利传真,通天报,新报跑狗,香港正版挂牌,雷锋内幕报,平特,六合彩2016,东方心经,六合图库" />
<meta name="description" content="117kj图库：这里是香港首发最新版图库 - 提供随时查看001-150期全年图纸记录,分有彩色图库、黑白图库、精品网址大全三大块。" />
<link href="{$Think.const.CSS_URL}list.css" rel="stylesheet" type="text/css" />
<link href="{$Think.const.CSS_URL}self.css" rel="stylesheet" type="text/css" />
<link href="{$Think.const.CSS_URL}main.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]><script src="{$Think.const.JS_URL}html5.js" type="text/javascript"></script><![endif]-->
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="{$Think.const.JS_URL}superslide.js" type="text/javascript"></script>
<script src="{$Think.const.JS_URL}My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<script src="/Index/Public/ls/js/checkLogin.js" type="text/javascript"></script>
<script src="/Index/Public/ls/js/lightbox/js/modernizr.custom.js"></script>
<script src="/Index/Public/ls/js/lightbox/js/lightbox-2.6.min.js"></script>
<link href="/Index/Public/ls/js/lightbox/css/lightbox.css" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">
    $(document).ready(function() {
        //$('.bigimg').lightBox();
    });
</script>

</head>
<body>
<include file="Index:header" />
<div class="content clearfix">
<div id="main" class="main">
<div class="br p10 bgff">
<p>您的位置：<a href="/">首页</a>&nbsp;>&nbsp;<a href="{:U('Home/Tuku')}">彩色图库</a></p>
</div>
<div class="blank10"></div>
<div class="search">
<form action="/Tuku/index.php" method="get">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <colgroup>
    <col width="580">
    <col width="180">
    </colgroup>
      <tbody><tr>
        <td><input class="searchTxt" type="text" name="keywords" id="keywords" value="快速找图，输入关键字从请这里搜索" style="color: rgb(153, 153, 153);" onfocus="javascript:if(this.value == '快速找图，输入关键字从请这里搜索') this.value = ''; this.style.color='#333';" onblur="if(this.value == '') {this.value = '快速找图，输入关键字从请这里搜索';  this.style.color = '#999';}">
        </td>
        <td><input id="btnQuery" type="submit" name="btnQuery" class="searchBtn" value="搜 索"></td>
      </tr>
    </tbody></table>
</form>
</div>

<div class="blank10"></div>
<div class="br bgff">
 <div class="title28_bord"><h4>热门彩色图库</h4></div>
<ul class="piclist">
<li><a href="{:U('Home/Tuku/detail',array('id'=>5375))}.html" title="脑筋急转弯" target="_blank"><img src="/Index/Public/tuku/col/c21.jpg" alt="脑筋急转弯" width="144" height="120"><p>脑筋急转弯</p></a></li>
<li><a href="{:U('Home/Tuku/detail',array('id'=>4790))}.html" title="新报跑狗-A" target="_blank"><img src="/Index/Public/tuku/col/001.jpg" alt="新报跑狗-A" width="144" height="120"><p>新报跑狗-A</p></a></li>
<li><a href="{:U('Home/Tuku/detail',array('id'=>4800))}.html" title="白小姐特码救世A" target="_blank"><img src="/Index/Public/tuku/col/009.jpg" alt="白小姐特码救世A" width="144" height="120"><p>白小姐特码救世A</p></a></li>
<li><a href="{:U('Home/Tuku/detail',array('id'=>4801))}.html" title="白小姐特码救世B" target="_blank"><img src="/Index/Public/tuku/col/010.jpg" alt="白小姐特码救世B" width="144" height="120"><p>白小姐特码救世B</p></a></li>
<li><a href="{:U('Home/Tuku/detail',array('id'=>4830))}.html" title="六合内部玄机-1" target="_blank"><img src="/Index/Public/tuku/col/039.jpg" alt="六合内部玄机-1" width="144" height="120"><p>六合内部玄机-1</p></a></li>
<li><a href="{:U('Home/Tuku/detail',array('id'=>4794))}.html" title="白小姐祺袍-1" target="_blank"><img src="/Index/Public/tuku/col/003.jpg" alt="白小姐祺袍-1" width="144" height="120"><p>白小姐祺袍-1</p></a></li>
<li><a href="{:U('Home/Tuku/detail',array('id'=>5414))}.html" title="白姐传密-1" target="_blank"><img src="/Index/Public/tuku/col/c004.jpg" alt="白姐传密-1" width="144" height="120"><p>白小姐传密</p></a></li>
<li><a href="{:U('Home/Tuku/detail',array('id'=>4810))}.html" title="香港黄大仙-1" target="_blank"><img src="/Index/Public/tuku/col/019.jpg" alt="香港黄大仙-1" width="144" height="120"><p>香港黄大仙-1</p></a></li>
<li><a href="{:U('Home/Tuku/detail',array('id'=>4796))}.html" title="白姐内幕-1" target="_blank"><img src="/Index/Public/tuku/col/005.jpg" alt="白姐内幕-1" width="144" height="120"><p>白姐内幕-1</p></a></li>
<li><a href="{:U('Home/Tuku/detail',array('id'=>4818))}.html" title="老版曾女士-1妙算" target="_blank"><img src="/Index/Public/tuku/col/027.jpg" alt="老版曾女士-1妙算" width="144" height="120"><p>老版曾女士-1妙算</p></a></li>
<li><a href="{:U('Home/Tuku/detail',array('id'=>4828))}.html" title="白姐急旋风-1" target="_blank"><img src="/Index/Public/tuku/col/037.jpg" alt="白姐急旋风-1" width="144" height="120"><p>白姐急旋风-1</p></a></li>
<li><a href="{:U('Home/Tuku/detail',array('id'=>4791))}.html" title="新报跑狗-B" target="_blank"><img src="/Index/Public/tuku/col/002.jpg" alt="新报跑狗-B" width="144" height="120"><p>新报跑狗-B</p></a></li>
</ul>
<div class="blank10"></div>
</div>
<div class="blank10"></div>
<div class="br bgff">
 <div class="title28_bord"><h4>彩色图库</h4></div>

<div class="a_list"> 
	<ul>
<foreach name="list1" item="vo">
<volist name="vo['voo1']" id="sub1">	
<foreach name="list" item="vo">	
		<volist name="vo['voo']" id="sub">


		<li class="tplist"><label><a href="http://cp99999.cc/col/{$sub.title}/{$sub1.content}.jpg" data-lightbox="image-set" class="bigimg" title="点击查看《{$sub1.title}第{$sub.title}期》" target="_blank">{$sub.title}</a></label><span class="key">{$sub1.content}</span><a href="{:U('Home/Tuku/detail',array('id'=>$sub1['id']))}.html" title="{$sub1.title}" onMouseOver="toolTip('<img src=http://cp99999.cc/col/{$sub.title}/{$sub1.content}.jpg width=144 height=120>')" onMouseOut="toolTip()" target="_blank">{$sub1.title}</a></li>
	
<if condition="$sub1['id'] == 4891">
		</ul>
<div class="gg">
			<!--首页-图库列表1广告开始-->
			<foreach name="plug_ad_8" item="v">
			<if condition="$v[plug_ad_checkid]==1">
			<a target="_blank" href="{$v.plug_ad_url}"><font color="#0066FF"><img src="__PUBLIC__/{$v.plug_ad_pic}" width="1000" title="{$v.plug_ad_name}" /></font></a><br>	
			<elseif condition="$v[plug_ad_checkid]==2"/>
			{$v.plug_ad_js|htmlspecialchars_decode|stripslashes}
			</if>			
			</foreach>
			<!--首页-图库列表1结束-->
</div>
<ul>
</if>
<if condition="$sub1['id'] == 5193">
		</ul>
<div class="gg">
			<!--首页-图库列表2广告开始-->
			<foreach name="plug_ad_9" item="v">
			<if condition="$v[plug_ad_checkid]==1">
			<a target="_blank" href="{$v.plug_ad_url}"><font color="#0066FF"><img src="__PUBLIC__/{$v.plug_ad_pic}" width="1000" title="{$v.plug_ad_name}" /></font></a><br>	
			<elseif condition="$v[plug_ad_checkid]==2"/>
			{$v.plug_ad_js|htmlspecialchars_decode|stripslashes}
			</if>			
			</foreach>
			<!--首页-图库列表2结束-->
</div>
<ul>
</if>
<if condition="$sub1['id'] == 5343">
		</ul>
<div class="gg">
			<!--首页-图库列表3广告开始-->
			<foreach name="plug_ad_10" item="v">
			<if condition="$v[plug_ad_checkid]==1">
			<a target="_blank" href="{$v.plug_ad_url}"><font color="#0066FF"><img src="__PUBLIC__/{$v.plug_ad_pic}" width="1000" title="{$v.plug_ad_name}" /></font></a><br>	
			<elseif condition="$v[plug_ad_checkid]==2"/>
			{$v.plug_ad_js|htmlspecialchars_decode|stripslashes}
			</if>			
			</foreach>
			<!--首页-图库列表3结束--> 
</div>
<ul>
</if>
<if condition="$sub1['id'] == 5503">
		</ul>
<div class="gg">
			<!--首页-图库列表4广告开始-->
			<foreach name="plug_ad_11" item="v">
			<if condition="$v[plug_ad_checkid]==1">
			<a target="_blank" href="{$v.plug_ad_url}"><font color="#0066FF"><img src="__PUBLIC__/{$v.plug_ad_pic}" width="1000" title="{$v.plug_ad_name}" /></font></a><br>	
			<elseif condition="$v[plug_ad_checkid]==2"/>
			{$v.plug_ad_js|htmlspecialchars_decode|stripslashes}
			</if>			
			</foreach>
			<!--首页-图库列表4结束--> 
</div>
<ul>
</if>	

<if condition="$sub1['id'] == 5658">
		</ul>
<div class="gg">
			<!--首页-图库列表5广告开始-->
			<foreach name="plug_ad_12" item="v">
			<if condition="$v[plug_ad_checkid]==1">
			<a target="_blank" href="{$v.plug_ad_url}"><font color="#0066FF"><img src="__PUBLIC__/{$v.plug_ad_pic}" width="1000" title="{$v.plug_ad_name}" /></font></a><br>	
			<elseif condition="$v[plug_ad_checkid]==2"/>
			{$v.plug_ad_js|htmlspecialchars_decode|stripslashes}
			</if>			
			</foreach>
			<!--首页-图库列表5结束-->
</div>
<ul>
</if>	

</volist> 
</foreach>
</volist>	
</foreach>
</ul>				
</div>
<div class="blank10"></div>
</div>
</div>
</div>
<script>
function CheckAll(value,obj)  {
var form=document.getElementsByTagName("form")
for(var i=0;i<form.length;i++){
for (var j=0;j<form[i].elements.length;j++){
if(form[i].elements[j].type=="checkbox"){ 
var e = form[i].elements[j]; 
if (value=="selectAll"){e.checked=obj.checked}     
else{e.checked=!e.checked;} 
}
}
}
}
</script>
<include file="Index:footer" />
		<script>
			var bgSelect = setInterval(function(){
				$(".Tuku_nav").addClass("li_checked").siblings().removeClass("li_checked");
				if($(".Tuku_nav").length != 0){
					clearInterval(bgSelect);
				}
			},200)
		</script>
</body>
</html>
<script src="{$Think.const.JS_URL}history.js" type="text/javascript"></script>
<script language="javascript" src="/Index/Public/ls/js/ToolTip.js"></script>
